[2013-09-16 07:45] SimonCropp opened #1 "When using SqlTransport, starting an endpoint using Master profile throws exceptions"
Steps to reproduce:
1. In the Scale out sample, Change the `Orders.Sender` & `Orders.Handler` to use `SqlTransport`.
2. Start the `Orders.Handler` (notice the exceptions on the `Orders.Handler` when run with the `NServiceBus.Master` profile)
3. Run the `Orders.Handler`, removing the `NServiceBus.Master` profile, and also start the `Orders.Sender` and both endpoints work as expected, and are able t

[2013-09-16 07:58] SimonCropp opened #2 "SqlTransport - When using custom host, the queues created have a machine name tagged to the queue"
Raised by @indualagarsamy
Migrated from by https://github.com/Particular/NServiceBus/issues/1303

Currently the behavior is inconsistent when using NServiceBus.Host and a generic host.
The tables (queues) created for NServiceBus.host endpoints do not have the machine as a suffix in its queue name.

[2013-09-16 07:58] #2 closed, assigned to nobody

[2013-09-16 08:09] SimonCropp opened #3 "Improve error reporting in SqlServerPollingDequeueStrategy"
raised by @russellchadwick

If you neglect to `Configure.Instance.ForInstallationOn<Windows>().Install()`, SqlServer transport will not create its tables.  Later the `SqlServerPollingDequeueStrategy` will have exceptions because the objects does not exist.

The issue is that the exception reported to log is

[code]

The message is inaccurately reporting a connection failure.

migrated from https:/

[2013-09-16 08:10] SimonCropp opened #4 "Add ReturnToSourceQueue script for Sql Server"
Raised by @jerrosenberg
Migrated from by https://github.com/Particular/NServiceBus/pull/1434

[2013-09-16 08:11] #4 closed, assigned to andreasohlund

[2013-09-16 08:14] SimonCropp opened #5 "SQL Server Transport Push instead of Pull"
Raised by @abombss
Migrated from by https://github.com/Particular/NServiceBus/pull/1044

Fixes #1040

Refactored to include a pluggable and extensible sqlbackoffstrategy. The default strategy keeps the current implementation intact.  A second strategy was added to fallback to using a SqlDependency when no messages have been received for a given period of time on the endpoint.

If anyone has any su

[2013-09-27 00:08] johnsimons opened #6 "SqlServer transport should have a DLQ table"
Messages that can't be delivered should be sent to the DLQ

@andreasohlund any other situations?

[2013-10-14 09:40] chrisbednarski opened #7 "Make CircuitBreaker intermittent failure delay configurable"
My AWS endpoints keep going down and there's no way to override the defaults to find the most optimal values. All the CircuitBreaker [settings](https://github.com/Particular/NServiceBus.SqlServer/blob/develop/src/NServiceBus.SqlServer/SqlServerPollingDequeueStrategy.cs#L393) are hardcoded

Could these `TimeSpan`s be exposed somehow? Even as public properties of `SqlServerPollingDequeueStrategy` fo

[2013-10-21 09:27] yvesgoeleven opened #8 "Videostore use Group for correlation instead of ConnectionId"
The videostore samples use signalr ConnectionId for correlation of messages, this works great locally, but if your connection is far away (as in a production environment), it drops quite easily and will reconnect with a different connectionId. We should use groups instead to keep track of all connections that belong to a user and reply to the group of connections

Add a join method to the OrdersHu

[2013-10-22 08:07] indualagarsamy opened #9 "SqlServer VideoStore Sample should use NHibernate persistence where relevant"
Convert the sample to use NHibernate persistence for sagas and timeouts, so that the whole sample can be run using Sql without requiring RavenDB.

[2013-10-23 14:42] MeTitus opened #10 "NServiceBus is not enlisting DTC transactions when using SqlServer transport"
I have the following endpoint config:

[code]

but from one of my providers the following

System.Transactions.Transaction.Current.TransactionInformation.DistributedIdentifier;

returns an empty guid.

I debugged the NServiceBus,SqlServer code and was able to track that inside the TryReceiveWithDTCTransaction method a call to the line above still returns and empty Guid.

I might be missing somethi

[2013-10-23 18:10] #10 closed, assigned to nobody

[2013-11-12 09:16] johnsimons opened #11 "Need to use enlist=false; in connection string"
Otherwise we get an error:

[code]

See repro - https://github.com/johnsimons/FooBar/tree/MSDTC_is_not_enabled

The error occurs after https://github.com/johnsimons/FooBar/blob/MSDTC_is_not_enabled/MyServer/MySaga.cs#L25

[2013-11-13 23:39] johnsimons opened #12 "Not using same native transaction"
When disabling DTC, we were not using the same native SQLClient transaction for both the receive and sends.

[2013-11-13 23:56] #12 closed, assigned to johnsimons

[2013-11-14 09:56] #11 closed, assigned to andreasohlund

[2013-11-15 08:00] andreasohlund opened #13 "Rewrite the ambient tx test to be suitable for sqlserver"
It now relies on ordered delivery which isn't possible since we're polling

When_sending_messages_within_an_ambient_transaction : NServiceBusAcceptanceTest

[2013-11-15 18:19] indualagarsamy opened #14 "Update-Package of NServiceBus.SqlServer (version 1.1.0) removes NServiceBus"
**Steps to repro**:
1. Generate a class library and `install-package NServiceBus` to install version 4.2.0 of the core and then `install-package NServiceBus.SqlServer` to install version 1.0.5 of Sql Server
2. Switch to the build server and then `update-package NServiceBus.SqlServer`, while it updates to SqlServer 1.1.0, it also removes NServiceBus 4.2.0 (core and interfaces)

Is this a problem in

[2013-11-15 20:58] #14 closed, assigned to nobody

[2014-01-09 04:05] jalalr opened #17 "HasActiveTransaction in UnitOfWork class returns true even if the transaction for the current thread has been cleared"
The use of IsValueCreated is incorrect, because it will return true regardless if the value is null or not.

[code]

The believe the method should check for null values.

[code]

I would also like to question why is the UnitOfWork registered as a singleton? which is creating the need for the ThreadLocalStroage complicating the implementation.

This issue occurs frequently in our WebAPI project whi

[2014-01-22 13:57] yvesgoeleven opened #18 "Cannot handle queuenames over 128 chars"
System.Data.SqlClient.SqlException (0x80131904): The identifier that starts with 'Transactions.NonTransactionalEndpoint.WhenSendingAMessageFromANonTransactionalEndpointWithAAmbientTransactionEnabled.SqlServer.T' is too long. Maximum length is 128.

[2014-01-23 15:25] #18 closed, assigned to nobody

[2014-01-31 03:46] HEskandari opened #19 "NRE when sending a message that has no routing"
I'm creating a collection of message to endpoint mapping in code (MessageEndpointMappingCollection) and found out that when I try to send a specific message type using Bus.Send(new MyMessage()) and the message routing is not configured I got the following exception. As soon as I added the missing mapping, it worked just fine. My expectation was to have a more meaningful error message.

I'm using t

[2014-01-31 05:51] pawelpabich opened #20 "SqlServerMessageSender passes null as connection to SqlCommand constructor"
I recently upgraded my code to NSB 4.3.3 and SqlServer transport 1.1.0. This broke bunch of functional tests and what is interesting every time I ran my CI build a different set of tests would fail. They all failed with the same exception. Details below. When I downgraded SqlServer transport to 1.0.5 the problem went away.

I have no idea what is the root cause of the exception because when you lo

[2014-02-19 07:18] chrisbednarski opened #21 "Poison message shuts down endpoint instead of going to dead letter q"
STR
1. Send some messages, stop service host before they're all processed
2. Manually modify a message header to {fdfdfdfd} so JSON serializer falls over
3. Restart the service host

ER
Message goes to error q

AR
Host service terminates with exception

[code]

[2014-02-19 16:06] prashanth2 opened #22 "Enterprise configuration using SQL transport"
Here's a quick background on what we are trying to accomplish:
1. There are NServiceBus endpoints for each application in the company each with their own SQL Server instance being used for transport
2. The subscriber needs to be subscribed to events from multiple endpoints each of which are configured to use their own SQL instances for transport
3. The publisher needs to be able to publish events

[2014-02-20 19:02] indualagarsamy opened #23 "When using custom host, events are not being autosubscribed"
Even though the message mappings for the events are specified in the app.config and the message handler for the event are setup correctly, when the publisher publishes events, events are not being received, when the host is a custom host.
##

**Steps to repro:**
1. Create a custom host and initialize the bus
2. Set up the message mappings to subscribe to an event from an existing publisher.
3. Pub

[2014-03-04 02:04] johnsimons opened #26 "Allow users to set the default sql schema"
At the moment we have hard coded "dbo" as the schema on all our sql statements.
Users may need to specify a different schema.

We need to allow the schema to be configurable. This affects the creation of the tables + queries.

[2014-03-19 04:45] pawelpabich opened #28 "40 objects of type SqlServerPollingDequeueStrategy"
Hi,

I'm debugging some problems with transations using windbg and I noticed our worker process has 40 instances of SqlServerPollingDequeueStrategy.  This seems excessive. Should not have we have just one? We have set max concurrency level set to 10. I can provide more data if it's required.

[2014-03-21 00:17] #22 closed, assigned to indualagarsamy

[2014-03-21 00:19] #20 closed, assigned to nobody

[2014-03-21 02:16] #17 closed, assigned to andreasohlund

[2014-03-21 02:22] johnsimons opened #29 "Using transport with no DTC"
This issue is raised as part of the diagnosing of #17

The problem is that to prevent DTC escalation we cannot use nested ADO connections from within a handler, so we need a way to expose both the ado connection + ado transaction to the end user.

Here is what @andreasohlund said:

Here is what @johnsimons said:

[2014-03-28 04:33] johnsimons opened #30 "NServiceBus.CastleWindsorBuilder can't resolve SqlServerMessageSender.ConnectionStringCollection"
When a message arrives in the queue, I get the following exception multiple times. Following trace is from the component "UnicastBus", but i get it from every level in NServiceBus where the message passes.

[code]

Eventually, the message does not get forwarded towards the error queue, and NServiceBus shuts down.

[2014-03-31 21:18] pawelpabich opened #31 "The operation failed because the session is not single threaded"
Hi,

One of our devs got this exception yesterday, have you seen something like that before?

[code]

[2014-04-01 04:23] #30 closed, assigned to johnsimons

[2014-04-07 17:47] andreasohlund opened #32 "Expose the SqlConnection used to receive incoming messages"
This will allow users to reuse that connection if needed to avoid escalating to DTC tx.

The reason for DTC escallation is that even if the connection strings are the same escalation will still happen if more than 1 connection is open at the same time. This will always happen since we need to keep the receiving connection open for the duration of the receive

[2014-04-16 03:54] johnsimons opened #33 "Under load a shutdown could cause current messages to not complete processing"
When performing a shutdown while messages were being processed, the current processing messages could end pre-maturely causing an exception to be logged and a graceless shutdown.

[2014-04-16 03:54] #33 closed, assigned to johnsimons

[2014-04-24 02:58] #8 closed, assigned to nobody

[2014-04-24 02:59] #9 closed, assigned to nobody

[2014-04-24 04:09] #13 closed, assigned to nobody

[2014-04-24 04:41] #1 closed, assigned to nobody

[2014-04-24 08:28] #5 closed, assigned to nobody

[2014-04-28 01:45] #19 closed, assigned to nobody

[2014-05-05 14:31] MarcWils opened #34 "Create a NServiceBus.SqlServer release that targets NServiceBus 4.6.1"
NServiceBus 4.6.1 was released a few days ago. Could you make a NServiceBus.SqlServer release that targets 4.6.1?

[2014-05-05 19:16] #34 closed, assigned to nobody

[2014-05-06 22:51] pawelpabich opened #35 "Stopping transport from custom Fault Manager causes app to deadlock"
Hi,

Let me first provide some context. What we are trying to do is:
* to process only one message at a time thus max concurrency is set to 1 and we have no retries
* when a message handler throws exception we want to stop processing all other messages as the order of processing matters
* we don't want to move the problematic message to the error queue, we simply want to stop the transport and the

[2014-05-08 17:11] #23 closed, assigned to nobody

[2014-05-09 03:47] johnsimons opened #37 "NHibernate does not play ball with IDbTransaction"
The aim is to make SQL transport and NHibernate to share the same connection + transaction so that DTC can be turned off.
#### Here is what I found so far

Sql transport creates an `IDbConnection` when dequeing a message, see https://github.com/Particular/NServiceBus.SqlServer/blob/develop/src/NServiceBus.SqlServer/SqlServerPollingDequeueStrategy.cs#L230
Sql transport  also creates an `IDbTransact

[2014-05-16 01:49] SimonCropp opened #38 "Move to .net 4.5"
##

related to https://github.com/Particular/NServiceBus/issues/2078

[2014-05-16 01:50] #38 closed, assigned to nobody

[2014-05-27 02:40] johnsimons opened #41 "EnlistInReceiveTransaction = false is problematic in this transport"
So when outbox is enabled all sends do not enlist in the receiving transaction but if we try to not pass a `SqlTransaction` to the `SqlCommand` we get the following error:

[code]

if we create a new `SqlTransaction` and pass it to the `SqlCommand`, we get the following error:

[code]

So the only solution I see is for us to use to new up a new `SqlConnection` but that will upgrade our transaction

[2014-05-27 02:58] #41 closed, assigned to nobody

[2014-05-30 01:24] chrisbednarski opened #42 "ReturnToSourceQueue fails when multiple messages have same Id"
Gateway will re-use message ids when sending the same message to multiple destinations. (see https://github.com/Particular/NServiceBus/issues/1567 for details)

When multiple gateway messages go to error queue, ReturnToSourceQueue script fails to insert those messages into @ToReturn table, because of primary key constraint on the ID field.

Removing the constraint causes issues further down the li

[2014-06-29 10:45] #29 closed, assigned to nobody

[2014-07-16 05:38] #3 closed, assigned to nobody

[2014-07-16 05:57] #32 closed, assigned to johnsimons

[2014-07-26 05:25] mauroservienti opened #43 "Support for "SQL Server AlwaysOn""
Is SQL Server AlwaysOn supported by the SQL Transport?

[2014-07-27 23:07] #43 closed, assigned to nobody

[2014-08-29 18:15] chandmk opened #44 "Invalid header values causing NServiceBus to crash"
### Symptoms

NServiceBus process is stopped by the circuit breaker after receiving multiple badly formatted messages.
### Who's affected

Users of NServiceBus who use SQLServer as a transport and integrate with NServiceBus endpoints by inserting messages into the table queues from outside of NServiceBus.
### Original issue

Is there any way to intercept errors coming from SqlServerPollingDequeueS

[2014-09-08 07:59] sandrinodimattia opened #46 "ObjectBuilder exceptions are not logged correctly"
NServiceBus.SqlServer Version: 1.2.2

We were troubleshooting an issue with one of our receivers where a message was moved to the error queue after a few seconds. The logs did not show any exception (log level = DEBUG).

After debugging a little more we noticed we were missing a service registration in Autofac, causing a DependencyResolutionException exception. I think the **Action** method in **S

[2014-09-25 07:14] andreasohlund opened #48 "Make callbacks and pubsub work seamlessly when scaled out"
This is handled by using a secondary receive thread that polls the {endpointname}.{machinename} table. All bus.Reply|Return messages will be sent to this queue to make callbacks work.

[2014-09-25 07:15] #48 closed, assigned to nobody

[2014-09-25 15:41] chandmk opened #50 "When SQL server is down for maintenance - nservicebus.Host process crash"
In a non production scenario, when sql server is down for maintenance,  nservicebus.host process is shutting down with following message.

Message: The following critical error was encountered by NServiceBus:
Repeated failures when communicating with SqlServer
NServiceBus is shutting down.

Out host process is using a SqlServerPollingDequeueStrategy to poll for occasional messages from a legacy sy

[2014-09-29 19:07] indualagarsamy opened #51 "When auditing a reply message, the message is sent to the wrong queue"
Instead they are sent to the destination specified in the callback header.

This bug was introduced in v2.0.0

[2014-09-29 19:07] indualagarsamy opened #52 "When auditing a reply message, the message is sent to the wrong queue"
Instead they are sent to the destination specified in the callback header.

This bug was introduced in v2.0.0

[2014-09-29 21:54] #52 closed, assigned to nobody

[2014-09-30 12:18] SimonCropp opened #53 "Consider turning off auto statistics for the SqlServer transport"
Raised by @andreasohlund
Migrated from by https://github.com/Particular/NServiceBus/issues/1127

Since the "queue" tables will be mostly empty auto statistics might be more harmful than good

We can turn it off when creating the table:

http://msdn.microsoft.com/en-us/library/ms188775.aspx

[2014-09-30 22:41] johnsimons opened #54 "Support multi database send programatically"
Feature #15 does not support setting the connectionstrings programatically

[2014-10-13 23:26] pawelpabich opened #55 "Second Level Retry race condition"
Hi,

I'm guessing this is related to the transport not the core but feel free to move it if I'm wrong.

We have SLR enabled and what we can see is that sometimes the message is handled by more than one worker thread at the same time. We have seen it happen on the same machine or on different machines. It looks like a race condition. Can you have a look ?

![image](https://cloud.githubusercontent.c

[2014-11-04 20:37] #50 closed, assigned to nobody

[2014-11-26 04:06] #51 closed, assigned to nobody

[2014-11-26 04:15] indualagarsamy opened #59 "When the endpoints use different database as specified in the connection string, Bus.Reply is not routed properly"
When endpoints are configured to be in different databases and the connection strings are properly specified in the app.config for the endpoints, Bus.Reply is being attempted to be sent to the wrong address and fails to be sent.
### Who is affected

Any endpoint running on SQLServer transport that is calling `Bus.Reply()` and using multi-database support via  `app.config` connection string convent

[2014-11-26 13:26] #59 closed, assigned to indualagarsamy

[2014-11-26 22:04] #31 closed, assigned to nobody

[2014-11-26 23:05] #37 closed, assigned to nobody

[2014-11-27 07:16] #21 closed, assigned to nobody

[2014-11-27 07:17] #44 closed, assigned to nobody

[2014-12-01 11:27] #46 closed, assigned to nobody

[2014-12-01 11:30] mauroservienti opened #63 "The samples are outdated"
The samples in the sample branch are based on a beta version, I've upgraded to RTM and fixed the build issues.

Can I do a PR, or what else?

[2014-12-04 05:03] #63 closed, assigned to nobody

[2014-12-04 05:17] #54 closed, assigned to SzymonPobiega

[2014-12-04 09:22] #55 closed, assigned to nobody

[2014-12-05 04:59] #42 closed, assigned to nobody

[2015-01-22 13:32] SzymonPobiega commented on #28
Fixed by #65

[2015-01-22 13:32] #28 closed

[2015-01-22 13:33] SzymonPobiega commented on #26
Replaced by #66

[2015-01-22 13:33] #26 closed

[2015-01-28 10:57] #7 closed

[2015-02-06 08:24] SzymonPobiega opened #67 "Fix acceptance tests on build server"

[2015-02-09 10:13] SzymonPobiega opened #69 "Release 2.1"
[Release 2.1](https://github.com/Particular/NServiceBus.SqlServer/issues?q=milestone%3A2.1.0+is%3Aclosed) is ready. How should we plan marketing for it?

Added features include
 * adaptive concurrency which means we won't block 40 threads and database connections doing nothing but will adapt the actual number of threads/connection to the throughput required to process the messages as they are comi

[2015-02-09 11:18] brittking commented on #69
We could communicate the release to current customers and those in the
pipeline, no problem.

Do we have a way to visualize the added features in the communication?

On a related note: is there a bigger topic we could connect this to and
write about? Are their conversations on this topic in Stackoverflow?

On Mon, Feb 9, 2015 at 11:13 AM, Szymon Pobiega <notifications@github.com>
wrote:

[2015-02-10 05:01] SzymonPobiega commented on #69
I think a diagram showing the multi-db support would be cool.

I found [one conversation](http://stackoverflow.com/questions/19209780/nservicebus-distributor-model-vs-msft-sql-server) related to a statement in previous edition of David's bool that 'SQL transport is for smaller projects'. The reason why 'small' is because it used to limited to a centralized DB all services had to share. Now it is m

[2015-02-15 10:49] brittking commented on #69
If this is not a major feature, then I think the communication should come
from Customer Care in a short email, pointing to a documentation page with
more details.

[2015-02-24 21:20] pedroreys commented on #69
Is there an ETA for 2.1 to be published?
The [documentation already mention features](http://docs.particular.net/nservicebus/sqlserver/multiple-databases) that can't be used with the latest published package (2.0.2).

[2015-02-25 05:25] SzymonPobiega commented on #69
@pedroreys we're working on releasing it now. Should come out this week.

[2015-02-25 05:28] #69 closed

[2015-03-11 12:58] aluczak opened #70 "Core assembly is referenced by wrong name when trying to obtain the error queue name using internal core classes"
### Symptoms

An exception is thrown when starting up an exdpoint that causes it to shut down immediately

### Who's affected

Users who have endpoints without `MessageForwardingInCaseOfFaultConfig` config section.

### Original description

In class ErrorQueueSettings there is a hardcoded name of obsolete assembly NServiceBus from
package NServiceBus.Interfaces:
var regRederType = Type.GetType("N

[2015-03-12 05:13] SzymonPobiega commented on #35
@pawelpabich we're in process of designing an in-order message processing feature. Here comes a question: are your messages in any way labeled by the legacy application so that we can detect that a message is missing and wait for it or are you purely relying on order messages were put into the queue and that order must be preserved?

[2015-03-12 05:30] pawelpabich commented on #35
Hi,

Order of messages in the queue is the source of truth here.

[2015-03-12 13:15] #70 closed

[2015-03-23 14:24] andreasohlund opened #71 "Make the `Recoverable` column default to true"
This will make it easier to do native integration.

[2015-03-23 14:25] andreasohlund opened #72 "Can we remove the `Recoverable` column?"
It's not really used

[2015-03-23 14:26] andreasohlund opened #73 "Make the headers column nullable"
Will make it easier when doing native intration since headers isn't required

[2015-03-23 14:30] andreasohlund opened #74 "Make the Id column a string instead of `UniqueIdentifier`"
Since the core only needs a string.

Also modify it to be optional since message id is included in the headers anyway.

So the logic in v6 would be: (where the core requires the transport to return a MessageId)

If Id column is not null, return `Id. Else return RowVersion + table name, eg `123-Sales`

[2015-03-23 15:47] andreasohlund opened #75 "Remove `ReplyToAddress` and `CorrelationId` columns"
Since they are transmitted as headers anyway

[2015-03-23 16:47] pedroreys opened #76 "With 2.1.1 Host crashes when using StructureMap"
### Symptoms

Endpoint either fails to start (StructureMap) or fails when trying to process a message (Autofac), depending on how "smart" container is with regards to discovering incomplete registrations.

### Who's affected

All who use SQL Server transport with StructureMap. For other containers only users who wish to access the underlying transport connection or transaction using `SqlServerStor

[2015-03-23 20:37] SzymonPobiega commented on #76
@pedroreys thank you for a detailed report. We're working on the fix.

[2015-03-24 21:39] pedroreys commented on #76
thanks for the quick response @SzymonPobiega!

[2015-03-30 08:33] #76 closed

[2015-04-14 06:05] johnsimons opened #78 "Support sendonly mode where no error queue needs to be configured"
### Symptoms

A configuration exception is thrown when starting up an endpoint.

[code]

### Who's affected

Affected are users of 2.1.0, 2.1.1 and 2.1.2 who have send only endpoints which configuration does not include the `MessageForwardingInCaseOfFaultConfig` section (which is optional and not used for send-only endpoints)

[2015-04-14 06:13] johnsimons opened #79 "System.NullReferenceException was unhandled by user code"
### Symptoms

A `NullReferenceException` is throws when shutting down the endpoint

### Who's affected

All users of 2.1.0, 2.1.1 and 2.1.2

### Root cause

There is a race condition in the shut down code

[code]

[2015-04-15 05:41] johnsimons commented on #79
@SzymonPobiega added a fix for this, can u review it ?

[2015-04-15 06:35] SzymonPobiega commented on #79
Looks good @johnsimons . Thanks.

[2015-04-20 13:49] #78 closed

[2015-06-05 10:30] mauroservienti opened #80 "Send out a message from a handler even if the handler throws"
### Symptoms

Cannot send out a message if a handler execution ends with an exception.

### Who's affected

People who wish to send out messages even though the handler is throwing an exception in order to trigger the retry mechanism.

### Proposed solution

Store the original `Transaction` in the context and hook up to the receiving transaction only if the current transaction is same as the origi

[2015-06-18 14:21] #79 closed

[2015-06-25 13:21] mauroservienti opened #81 "v1.x may fail to send a message if the message id is not a valid GUID"
When trying to send a message where the message id is not a valid GUID the send operation fails.

---

While migrating v1.x from ripple to Nuget I noticed that 1 acceptance test fails: `When_processing_a_message_without_an_id.Should_invoke_start_message_processing_listeners`

The failure is related due to the fact that the transport assumes that the `message id` is a valid GUID, since it is requir

[2015-06-25 22:49] SimonCropp commented on #53
@andreasohlund still want to pursue this?

[2015-06-26 06:10] andreasohlund commented on #53
Still relevant but not a high prio. Perhaps we should just add it to http://docs.particular.net/nservicebus/sqlserver/operations-scripting ?

Ie add `SET AUTO_CREATE_STATISTICS OFF`

[2015-06-29 10:30] mauroservienti opened #82 "Transport does not support custom message ids if the message id is not a valid GUID"
The SQL Transport utilizes the message id as the PK in the messages `Q` table, the table schema expects the message Q table PK to be a valid GUID.
The transport tries to force-convert the message id, at send time, to a GUID. If the message ID is not a valid GUID this causes the sender to fail.
- Affects v1.x
- Affects v2.x
- Replaces #81
- Related to: https://github.com/Particular/FeatureDevelopme

[2015-06-29 10:30] mauroservienti commented on #81
replaced by https://github.com/Particular/NServiceBus.SqlServer/issues/82

[2015-06-29 10:30] #81 closed

[2015-07-08 09:21] rlaveycal commented on #79
Is this going to be released soon? It's really annoying.

[2015-07-08 16:41] johnsimons commented on #79
@SzymonPobiega we should release this ?

[2015-07-12 10:20] SimonCropp commented on #53
@andreasohlund this might not be a high prio, but isnt it a trivial change?

[2015-07-12 12:54] andreasohlund commented on #53
Indeed, but the testing effort wouldn't be trivial so that's why I haven't
done it yet

On Sun, Jul 12, 2015 at 12:20 PM, Simon Cropp <notifications@github.com>
wrote:

[2015-07-28 09:35] mauroservienti opened #85 "Multiple custom schemas support for v1.x"
Version 1.2.2 of SQL Server Transport does not support custom schemas and is bound to `dbo`. Add support for endpoints running on custom schemas to allow better interoperability if different versions of NServiceBus are run in the same environment and the SQL Transport is the transport of chioce.

--

PR: https://github.com/Particular/NServiceBus.SqlServer/pull/83
Feature: https://github.com/Partic

[2015-07-28 11:39] mauroservienti commented on #85
fixed

[2015-07-28 11:39] #85 closed

[2015-09-05 07:38] andreasohlund opened #89 "Sql2012 acceptance tests fails with The transport is running in native SQL Server transactions mode without an outbox, but configuration uses multi-database sending"
http://builds.particular.net/viewLog.html?buildId=119082&buildTypeId=NServiceBusSqlServer_2RunAcceptanceTests

[code]

[2015-09-07 13:12] SzymonPobiega commented on #89
These `When_in_native_transaction_mode` all all flaky. I suppose that is because they are based on exception text and that was not super-reliable back in remoting days. I hope that with V6 and getting rid of remoting in the acceptance tests we'll be able to stabilize it. Currently thinking about muting them...

[2015-09-17 03:29] SzymonPobiega opened #90 "Possible small memory leak"
### Symptoms

<img width="428" alt="sql transport before" src="https://cloud.githubusercontent.com/assets/163318/9924133/f45ad068-5cfc-11e5-852c-f9850559b26e.png">

After a couple of hours:

<img width="379" alt="sql transport after" src="https://cloud.githubusercontent.com/assets/163318/9924132/f458f9fa-5cfc-11e5-9a39-41542be413bb.png">

Using gcServer and 64bit after +3.000.000 messages

![Using

[2015-09-17 03:31] SzymonPobiega commented on #90
@ramonsmits here's the memory leak issue

[2015-09-17 07:30] timbussmann opened #91 "missing NServiceBus.Core dependency on 1.2.3"
[Version 1.2.3](https://www.nuget.org/packages/NServiceBus.SqlServer/1.2.3) of the SqlServer package misses dependencies to NSB.Core which seem to be removed by accident while previous patch versions of the package still have the dependency.

[2015-09-17 11:53] ramonsmits commented on #90
I've made a stress test, you see the rising saw tooth during the first hour and after that it seems to stabilize on my machine (8GB VM, Win10, net 4.6). Created a baseline dump and after an hour again and compared the objects. There was no object count that was indicated a memory leak.

When using the server garbage collector then memory consumption is different. Private bytes goes to around 90MB

[2015-09-17 14:27] ramonsmits commented on #90
Updated description with memory usage on gcServer and x64. Memory dumps do not indicate a memory leak.

[2015-09-18 08:56] danielmarbach commented on #90
Can we close it then?

[2015-09-18 09:06] SzymonPobiega commented on #90
your wish is my command @danielmarbach

[2015-09-18 18:07] ramonsmits commented on #90
It seems to be related to this:

- https://stackoverflow.com/questions/30029462/net-tpl-cancellationtoken-memory-leak

I received dumps from the customer that do indicate a memory leak.

We both run a sample project and on my VM with framework v4.6 I don't have it. Customer is on 4.5.2 so maybe it is a bug in .net framework

[2015-09-22 10:09] ramonsmits commented on #90
I can reproduce this currently on a VM:

- Azure VM A3
- Windows 2012 R2
- .NET Framework 4.5.1

Following it a screenshot of the delta between two memory dumps:

![Dump delta](https://www.dropbox.com/s/7k5qsytwdeaix8n/Screenshot%202015-09-22%2011.29.30.png?raw=1)

[2015-09-22 11:11] ramonsmits commented on #90
Using the following branch resolves the memory leak:

- https://github.com/ramonsmits/NServiceBus.SqlServer/tree/hotfix-2.1.4

![adsasd](https://www.dropbox.com/s/blygwuv7fnkszw0/Screenshot%202015-09-22%2012.56.27.png?raw=1)

This fix is based on the following stackoverflow article:

- https://stackoverflow.com/questions/30029462/net-tpl-cancellationtoken-memory-leak

The article describes a simil

[2015-09-22 11:14] SzymonPobiega commented on #90
Awesome job @ramonsmits !

[2015-09-22 11:44] danielmarbach commented on #90
What if you have 4.5.2?

--
*#NSBcon 2015 • The "All About NServiceBus" conference is back *
*• Learn more <http://go.particular.net/l/27442/2015-08-21/5d4wzp> →*

[2015-09-22 11:45] ramonsmits commented on #90
@danielmarbach v4.5.2 also has the memory leak which is the version that the customer is using.

[2015-09-22 11:47] #90 closed

[2015-09-22 11:50] danielmarbach commented on #90
I'm going to check the core code. In nost cases we are fine because we
don't want the task to transition to canceled state (i.ex. Message pump)
there we don't pass the token to the task continuation

--
*#NSBcon 2015 • The "All About NServiceBus" conference is back *
*• Learn more <http://go.particular.net/l/27442/2015-08-21/5d4wzp> →*

[2015-09-23 11:33] ramonsmits commented on #91
+1 I just noticed it too on Nuget while downgrading.

[2015-10-02 00:22] pawelpabich opened #93 "Add ability to store Body as text"
It could be a config value.

[2015-10-05 06:38] SzymonPobiega commented on #93
you mean, instead of `(n)varchar(MAX)`?

[2015-10-05 14:53] pawelpabich commented on #93
at the moment it's s varbinary and I would like to have an option to use nvarchar.

[2015-10-06 10:03] SzymonPobiega commented on #93
That would be tricky since our serializer abstraction uses `Stream`s which we convert later to `byte[]` when sending a message. So from the perspective of a transport a message body is an opaque string of bytes.

Not saying it cannot be done, can I ask why do you need it? Is it for convenience of being able to inspect the message bodies using standard SQL Server tooling?

[2015-10-06 11:42] tmasternak opened #94 "Port Sql Transport to NSB v6"
Taskforce: @tmasternak @mauroservienti

Make changes to Sql Transport that will make it possible to use it with NServiceBus v6

# Impact assessment #
Any user who uses sql transport and will want to migrate to v6.

# Plan of Attack #
- [ ] Learn how NSB transport works in general and document
- [ ] Learn how NSB v6 Core has changed and how that impacts transport implementation
- [ ] Refine this Pl

[2015-10-06 13:39] pawelpabich commented on #93
Re why, you guessed correctly. I mostly use Sql Transport over MSQM because it is more accessible and people know how to manage Sql Server infrastructure. The fact that body is binary makes them uneasy which is very unfortunate.

One more note, Sql Server 2016 allows search text columns that contain JSON directly from Sql so having this option would enable advance querying without having to decomp

[2015-10-07 12:21] timbussmann commented on #91
fixed with hotfix 1.2.4

[2015-10-07 12:21] #91 closed

[2015-10-08 12:02] SzymonPobiega commented on #93
@pawelpabich I've raised an issue in the core repo https://github.com/Particular/NServiceBus/issues/2977 because if we decide to implement it, it would have to be a change in the heart of NServiceBus.

[2015-10-13 13:29] tmasternak opened #95 "samples link in README.md is outdated"

[2015-10-14 07:44] tmasternak commented on #94
@mauroservienti do we still want to document the transport. After last discussion it looks that it might not be that valuable?

[2015-10-19 08:19] mauroservienti commented on #94
@tmasternak I still think that there is value in documenting it, at least for internal purposes

[2015-10-29 12:55] sfarmar commented on #94
Also look at the current issues with the usage?

[2015-11-03 08:16] SzymonPobiega opened #97 "V2: Potential missing Dispose call"
### Who's affected

Everybody

### Symptoms

[code]

[2015-11-04 07:51] tmasternak opened #98 "Wire compatibility tests for sql transport"
We should have a set of wire compatibility tests for v1-v3 of sql transport. We might try to reuse what we have in ProductionTests (which test message patterns and the headers that enable them).

[2015-11-04 08:02] SimonCropp commented on #98
the wire compat tests in ProductionTests are not "testing MSMQ". they are testing the message patterns and the headers that enable them

[2015-11-04 08:05] tmasternak commented on #98
@SimonCropp thanks for pointing that out. Description changed.

[2015-11-04 10:07] weralabaj commented on #94
@andreasohlund you can approve?

[2015-11-04 10:14] andreasohlund commented on #94
Didn't we decide to make `Stored-procedure level interface for sending messages` a separate task?

[2015-11-04 10:17] weralabaj commented on #94
Yes we did, thanks for catching that !

[2015-11-04 10:17] andreasohlund commented on #94
What is the `Dead Letter Queues` ? (is that the "moving corrupted messages straight to the error q feature)"

[2015-11-04 13:14] tmasternak commented on #94
Verified with @SzymonPobiega and DLQ are not supported in sql transport. Removed.

[2015-11-04 14:15] andreasohlund commented on #94
Then I'd say we're good to go

[2015-11-10 10:33] SzymonPobiega opened #99 "Redesign the concurrency adaptation algorithm"
Redesign the scheduler so that it is based on peek-receive approach rather than success/failures counter.

[2015-11-10 10:33] SzymonPobiega commented on #99
@tmasternak is this a right place to track this?

[2015-11-10 10:50] tmasternak commented on #99
@SzymonPobiega I think it is a good place to do it

[2015-11-12 06:37] danielmarbach opened #100 "Async/Await support"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti
Make changes to Sql Transport that will make it possible to use it with NServiceBus v6

### Impact assessment
Any user who uses sql transport and will want to migrate to v6.

### Plan of Attack

- Features
 - ~~[Transactions support](https://github.com/Particular/NServiceBus.SqlServer/issues/138)~~ (done)
 - [Multi-database support

[2015-11-13 14:19] tmasternak opened #102 "Stored-procedure level interface for sql transport"

[2015-11-23 15:21] weralabaj opened #103 "Spike for multi-db support using merge replication"
Connects to #100

**Goal:**
Use merge replication to provide multi-database support for SqlTransport.

https://msdn.microsoft.com/en-us/library/ms152746.aspx
https://technet.microsoft.com/en-us/library/ms151819(v=sql.105).aspx

**Expected outcomes:**
- Easier configuration for SqlTransport
- Safer connection management (connections shared for reading, not writing to another db)
- Making transport

[2015-11-23 15:21] weralabaj commented on #103
//cc: @tmasternak @SzymonPobiega @andreasohlund @mauroservienti Feel free to clarify if I forgot sth.

[2015-11-24 02:54] johnsimons commented on #103
I have just watched the meeting regarding this and I wonder if we jumping too quickly to a solution ?

[2015-11-24 07:02] weralabaj commented on #103
@johnsimons Do you have some alternatives in mind? I thought that this suggestion is based on previous discussions (e.g. from Budapest), so seemed like it's well thought ;)
Either way, please share your thoughts!

[2015-11-25 07:41] SzymonPobiega commented on #80
V6 code change will allow for that without changes to the transport.

[2015-11-25 07:41] #80 closed

[2015-11-26 09:33] SzymonPobiega opened #104 "Deadlock when receiver is being stopped because of the circuit breaker"
### Symptoms

The endpoint stays in *zombie* mode if a shutdown has been triggered by the transport circuit breaker. In that *zombie* mode the endpoint shutdown procedure is frozen. Satellites (e.g. timeout manager) are still running but the main input queue receiver is stopped. If the condition that triggered the circuit breaker stops (e.g. SQL Server condition is restored), the satellites contin

[2015-11-26 12:59] SzymonPobiega commented on #104
Reasssigned to correct release.

[2015-11-26 12:59] #104 closed

[2015-11-30 02:33] SimonCropp commented on #102
why is this in required for async/await support #100 ?

[2015-11-30 07:10] weralabaj commented on #102
@SimonCropp It's not required, it's related but new Sql transport can be released without that feature. Similar to all issues listed in # 100 as "related".

[2015-12-03 10:57] weralabaj opened #110 "Backwards compatibility testing scenarios"
### Compatibility Tests:
- [x]  Scenarios
 - [x] Simple send
 - [x] Response/Reply
 - [x] Pub/Sub
- [x] Configuration variations
 - [x] Versions 1, 2 and 3
 - [x] Single, multischema ~~and multidatabase~~
 - [x] Scale-out
- [x] Callbacks
 - [x] Simple
 - [x] Scale-out
- [x] Incompatible v2 config
- [x] Persistence. Sharing connections/transactions
 - Sagas
- [x] 3rd party integration - verify noth

[2015-12-04 09:02] mauroservienti opened #112 "Use Stored Procedure(s) as a facade when accessing the message store/queues"
Actually the `SqlTransport` must have read/write permissions to the database tables/structures used as queues, would be interesting to move to a setup where all the db interaction is through stored procedures to achive to main goals:

* create an abstraction layer that simplifies future evolution of the internals of the transport at the storage layer
* the db security can be lock down giving `exec

[2015-12-04 12:01] mauroservienti commented on #112
Duplicate of https://github.com/Particular/NServiceBus.SqlServer/issues/102

[2015-12-04 12:01] #112 closed

[2015-12-04 13:18] mauroservienti opened #113 "vNext multi-database connection string management/distribution"
Task force: @mauroservienti @justabitofcode
Related to: https://github.com/Particular/PlatformDevelopment/issues/486
Related to: https://github.com/Particular/NServiceBus.SqlServer/issues/100
Connects to #139

Actually V2 of the transport supports the ability to [inject logic](http://docs.particular.net/nservicebus/sqlserver/multiple-databases#other-endpoints-pull-mode) to define the broker topolo

[2015-12-04 13:33] mauroservienti commented on #113
Given that IMO the actual implementation that automagically picks connection strings from the `AppSettings` based on a convention is problematic I suggest to turn it off and require the user to explicitly state what the endpoint should do, using a config such as:

[code]

to enable the v2 behavior.

[2015-12-04 15:17] weralabaj commented on #113
Clarified by @mauroservienti: the intent is to support the v2 configuration for multi-schema/multi-db.

[2015-12-07 12:59] tmasternak opened #114 "Cleanup unused acceptance tests"
In acceptance tests project we have unused files. Leftovers from v2 we should delete them

[2015-12-14 00:20] petersgiles commented on #110
@weralabaj how can I help?

[2015-12-14 11:27] tmasternak opened #116 "Single-db, multi-schema Request/Response requires unnecessary coupling"
Currently in v1 and v2, requests do not include schema information. As a result when sender and receiver have input queues in separate schemas receiver needs a piece of configuration (file or api) which specifies sender' schema name.

This introduces unneeded coupling and requires knowing all senders that will participate in Request/Response MEP at receiver's configuration time.

[2015-12-14 11:29] tmasternak opened #117 "Single-db, multi-schema Pub/Sub requires unnecessary coupling"
### Problem

In version 2 subscription messages do not contain schema information. This causes problems for subscribers that have their queues stored in non-default schemas. In such scenario it is necessary for publisher to provide via configuration a schema information for each subscriber. This introduces coupling that should not be needed for pub-sub message exchange.
### Assumptions and Constra

[2015-12-14 12:09] ramonsmits commented on #113
We have two translations/lookups:

- Endpoint to connection string
- Endpoint to catalog, schema and/or table name

In a connection string a catalog can be specified but the actual catalog used in queries can be a different one.

It could also be a different connection strings between different instances of the endpoint when dealing with things like high availability groups.

### Which physical in

[2015-12-14 14:53] ramonsmits commented on #113
In a discussion with @tmasternak I had the idea to just use SQL formatted fully qualified table names in the configuration after @tmasternak mentioned that the configured addresses can be transport specific.

For completeness I also added error and audit queue configuration:

[code]

Benefits:

- No transformation needed as the table names are real T-SQL formatted table names.
- The table names do

[2015-12-14 15:06] ramonsmits commented on #113
Regarding high-availability and fail-over we should just rely on the behavior of the sql client where different options can be configured via the connectionstring.

[2015-12-14 16:01] ramonsmits commented on #113
After a discussion with @mauroservienti I even think we could even drop multi instance/server support.

[code]

The above configuration supports multi schema, multi catalog but not multi instance.

Also note that I deliberately removed the schema and replaced it with `..`. In my opinion configuring these names are the responsibility of the user. If the user wants to use multiple catalogs then it i

[2015-12-14 23:55] johnsimons commented on #113
I just want the task force to whatever you decide to implement please please, test with SC and make sure it works.
Also if you think there will be changes to the configuration of SC, please talk to @gbiellem about what implications those changes have on the installer experience for a user.

[2015-12-17 07:34] tmasternak commented on #95
f

[2015-12-17 07:34] #95 closed

[2015-12-18 09:25] #114 closed

[2015-12-23 10:09] weralabaj opened #124 "Investigate if we still need Secondary Receivers"
Connects to #100

As the solution for the https://github.com/Particular/NServiceBus.RabbitMQ/issues/35, to prevent message duplication we introduced "Secondary Receivers". That was dealing both with pubsub and callbacks.
That solution was then copied to SqlServer. We think that we no longer need it in SqlServer, because the issue was mitigated with the new callbacks implementation. However, we sti

[2016-01-04 11:30] tmasternak commented on #124
After doing investigation it looks that we do not need secondary receiver in SqlTransport. New scale-out model assumes queue-per-instance.

@weralabaj @mauroservienti I think we can close this one and open a more specific issue in [RabbitMQ](https://github.com/Particular/NServiceBus.RabbitMQ) repository.

[2016-01-04 11:36] tmasternak commented on #110
@weralabaj  @mauroservienti  I propose to remove the performance tests from the scope of this task. It depends on Particular/ProductionTests#33 and should be implemented after we figure out what performance tests should look like.

[2016-01-04 13:23] mauroservienti commented on #124
Can you give me more details? Is competing consumers still supported?

[2016-01-04 13:24] mauroservienti commented on #110
+1, we can be chickens if required.

[2016-01-04 13:31] tmasternak commented on #124
My understanding is this:
* We support competing-consumers and queue-per-instance but callbacks work only with the second approach
* If somebody needs to to support competing-consumers and callbacks (e.g. scaled-put web front-end) s/he needs to setup a second endpoint instance just for that. We will provide necessary doco.

/cc @SzymonPobiega @andreasohlund

[2016-01-04 13:54] SzymonPobiega commented on #124
:+1:

[2016-01-04 13:54] SzymonPobiega commented on #124
@tmasternak did you figure out why do we have these additional receivers in Rabbit?

[2016-01-04 13:58] tmasternak commented on #124
It is no confirmed yet. There is an issue in RabbitMQ repository for that. But it looks that I solves the duplicate event delivery in scale-out deployment.

[2016-01-04 14:11] mauroservienti commented on #124
Lovely.

thanks @tmasternak

[2016-01-04 14:25] tmasternak commented on #124
closing

[2016-01-04 14:25] #124 closed

[2016-01-04 14:30] tmasternak commented on #98
This has been covered with SqlTransport Backwards Compatibility tests. See Particular/ProductionTests/pull/26 and Particular/ProductionTests/pull/27.

Closing

[2016-01-04 14:30] #98 closed

[2016-01-04 14:35] tmasternak opened #125 "Create performance tests suite for SqlTransport"
SqlTransport should have a performance test suite.

[2016-01-04 14:38] tmasternak commented on #110
Created a new tasks for performance testing Particular/NServiceBus.SqlServer/issues/125

[2016-01-07 13:21] MarcinHoppe opened #127 "Eliminate hardcoded connection strings from acceptance tests"
Several acceptance tests have their connection string hardcoded to a local instance of SQL Express:
- When_using_custom_connection_factory.cs
- When_a_corrupted_message_is_received.cs

This makes it impossible to run these tests against a different SQL Server instance (e.g. LocalDB).

Majority of acceptance tests executed with this transport can be configured via `SqlServerTransport.ConnectionStri

[2016-01-07 13:27] tmasternak opened #128 "When should we run backwards compatibility tests for SqlServer transport"
Currently we run backwards compatibility tests against predefined nuget package.

I propose to run it against each new version from develop.

@weralabaj @melkio. What do you think?

[2016-01-07 15:23] weralabaj commented on #127
@MarcinHoppe Are you going to work on that or can that be grabbed by anybody?

[2016-01-07 20:19] MarcinHoppe commented on #127
@weralabaj I have an idea for a fix but it is totally up for grabs by anybody.

[2016-01-25 10:06] mauroservienti opened #130 "Update acceptance tests from core"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

[2016-01-25 10:07] mauroservienti commented on #130
this is done

[2016-01-25 10:07] #130 closed

[2016-01-25 10:08] mauroservienti opened #131 "Wirecompat test for SQL Transport v3"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

Related to #100

[2016-01-25 10:10] mauroservienti opened #132 "Callback receivers for v3"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

Related to #100

[2016-01-25 10:10] mauroservienti commented on #132
this is done

[2016-01-25 10:10] #132 closed

[2016-01-25 10:11] mauroservienti opened #133 "Documentation v3: Smoke tests for doc content"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

Related to #100

[2016-01-25 10:12] mauroservienti opened #134 "Documentation for v3: Upgrade guide"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

Plan of attack:
 1. [ ] Configuration api changes for multi-schema
 2. [ ] Configuration api chagnes for providing custom connection string
 3. [ ] Changes in multi-db support
 4. [ ] Document new shutdown timeout behavior for SQL Particular/NServiceBus.Host#51
 5. [ ] Document new shutdown timeout behavior for MSMQ

Related to #1

[2016-01-25 10:13] mauroservienti opened #135 "Documentation for v3: Multi-schema v3 to v1-2 setup guide"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

Related to #100

[2016-01-25 10:14] mauroservienti opened #136 "Documentation for v3: Connection pool guidance"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

Related to #100

[2016-01-25 10:15] mauroservienti opened #137 "Documentation for v3: docu pages"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

Related to #100

* [x] [1](http://docs.particular.net/nservicebus/sqlserver/)
* [x] [Concurrency model](http://docs.particular.net/nservicebus/sqlserver/concurrency) -  [PR in Docs](https://github.com/Particular/docs.particular.net/pull/1091)
* [ ] [3. Multi-database](http://docs.particular.net/nservicebus/sqlserver/multiple-datab

[2016-01-25 10:29] mauroservienti opened #138 "SQL v3: Transactions support"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

Related to #100

[2016-01-25 10:29] mauroservienti commented on #138
this is done

[2016-01-25 10:29] #138 closed

[2016-01-25 10:30] mauroservienti opened #139 "SQL v3: Multi-instance support"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti @SzymonPobiega

## Summary
**We decided to drop the multi-instance support for the V3 of the SQL Transport.**
Being a major release we could drop the feature without any concern, but we want to provide customers using it an exit strategy. We actually have a working spike that enables the multi-instance support as it was in V2, **we

[2016-01-25 10:31] mauroservienti opened #140 "SQL v3: Multi-schema support"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

Related to #100

[2016-01-25 10:31] #140 closed

[2016-01-25 10:32] mauroservienti opened #141 "SQL v3: TTBR"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

Related to #100

[2016-01-25 10:32] #141 closed

[2016-01-25 10:32] mauroservienti opened #142 "SQL v3: Auto-creation of db structure"
Task force: @tmasternak @weralabaj @justabitofcode @mauroservienti

Related to #100

[2016-01-25 10:32] #142 closed

[2016-01-25 10:33] tmasternak commented on #142
this is done

[2016-01-25 10:44] mauroservienti commented on #131
@weralabaj @tmasternak is this a duplicate of #110?

[2016-01-25 10:47] tmasternak commented on #131
yes it is

[2016-01-25 10:48] mauroservienti commented on #131
closing as duplicate of #110

[2016-01-25 10:48] #131 closed

[2016-01-25 15:54] mauroservienti opened #143 "Add support for batched inserts"
If Unit of Work for bus session ends up being supported in core we should add support to it adding specific transport feature such as, but not only, bulk inserts.

Related to: https://github.com/Particular/NServiceBus/pull/3355

[2016-01-28 06:42] mauroservienti commented on #139
We decided to drop the multi-instance support for the V3 of the SQL Transport.
Being a major release we could drop the feature without any concern, but we want to provide customers using it an exit strategy. We actually have a working spike that enables the multi-instance support as it was in V2, we are faced with 3 options:

1. Release it as an unsupported sample that explain to customers how to

[2016-01-28 07:26] tmasternak commented on #110
This one is currently blocked until NHibernate is ready for wire-compat testing

[2016-01-28 10:07] mauroservienti opened #146 "Spike a shovel/federation like solution for multi-instance/broker"
Task force:
Related to https://github.com/Particular/docs.particular.net/issues/1103

multi-instance support as it is now is causing more issues than benefits and is not supported by our tools (see https://github.com/Particular/ServiceControl/issues/609 and https://github.com/Particular/ServiceControl/issues/618) the goal of this spike is to outline viable solution to provide a RabbitMQ shovel/fed

[2016-02-01 10:54] tmasternak commented on #137
@mauroservienti @justabitofcode I think that [3](http://docs.particular.net/nservicebus/sqlserver/multiple-databases) and [5?](http://docs.particular.net/nservicebus/sqlserver/usage) will need to change because of the changes in multi-db setup

[2016-02-01 11:52] ramonsmits commented on #146
But multi database, multi schema is still supported?

[2016-02-01 14:33] mauroservienti commented on #146
@ramonsmits Multi-schema is alive and kicking, [multi-database/instance has been dropped](https://github.com/Particular/NServiceBus.SqlServer/issues/139)

[2016-02-02 02:19] SimonCropp opened #148 "no obsolete for UseConnectionString"
[code]

[2016-02-02 13:25] ramonsmits commented on #139
@mauroservienti Till now I've only read multi instance is dropped and not multi database but both are not supported I guess?

Lets get our vocabulary straight and use SQL Server terminology:

- Server, The host
- Instance, The SQL process. Can have multple on a single server
- Catalog, The database. Can have multiple on a single instance
- Schema, The schema. Can have multiple in a single catalog

[2016-02-02 14:44] mauroservienti commented on #139
@ramonsmits we never had a distinction between multi-instance and multi-database, but I think that could be interesting to support the multi-database scenario.

@tmasternak thoughts?

[2016-02-03 07:45] ramonsmits commented on #139
@mauroservienti No I understand as previously we had the mindset to only access a single database on a sql connection (string) but that is restriction we set ourselves.

[2016-02-03 07:54] tmasternak commented on #139
I think that I makes sense to support this. On a technical level what @ramonsmits proposes should not be a problem. I need to verify if we can do it in backwards compatible way but I think it should work.

@mauroservienti: should I create an issue for that. It can probably be just a spike to figure out if we can do it later for 3.1.

[2016-02-03 07:59] mauroservienti commented on #139
Yes let's create a separate issue and consider it for the next minor.

[2016-02-03 08:04] tmasternak opened #149 "Support multi-catalog deployments"
Version 3 of SqlTransprort supports only multi-schema setup. It should be possible to add multi-catalog support as well.

See Particular/NServiceBus.SqlServer#139 for more details
Inception: https://github.com/Particular/CustomerSuccess/issues/166

[2016-02-03 18:05] #110 closed

[2016-02-08 12:14] mauroservienti commented on #149
As discussed this morning the `catalog` name should be part of the endpoint address as it is for the schema name in 3.0

[2016-02-08 12:15] tmasternak opened #154 "Check the round-robin behavior in scale-out"
taskforce: @tmasternak

## Goal
We need to verify that enpdoint instance load-balancing with competing consumers works as expected i.e. that load sharing is fair 'enough'. In scope of this issue we should write a sample or scaled-out endpoint that will check that over longer period of time the message sharing is balanced.

## Test Scenario

I've run a simple test scenario:
  * Single shared databa

[2016-02-08 12:17] mauroservienti opened #155 "Multi-schema support in V3 must support square brackets in the schema name"
taskforce: @kbaley @tmasternak @weralabaj

## Problem
In V3 we moved the schema name from the connection string to the endpoint address in the form of `my.endpoint@schema`. We want to be prepared to support specifying not only schema but also database if we wish to provide multi-database support in the future. In other words we want users to be able to specify address in form `my.endpoint@[databas

[2016-02-08 12:19] mauroservienti opened #156 "Backport support for schema name in the endpoint address"
The actual relationship between ServiceControl and the SQL Transport [might be broken](https://github.com/Particular/ServiceControl/issues/618) if users need to use multi-schema, multi-database or multi-instance features.

The broken relationship is a configuration design bug introduced in the SQL Transport, in moving forward with vNext of the transport we made the following changes:
- We decided

[2016-02-08 12:21] mauroservienti opened #157 "Remove the dependency on the DTC when using the multi schema feature"
Actually in V2 to enable multi-schema the user needs to define multiple connection strings causing the transport to require the DTC. When using multi-schema we should remove this requirement.

Inception: https://github.com/Particular/CustomerSuccess/issues/166

[2016-02-08 14:46] ramonsmits commented on #157
Basically, make use of fully qualified table names containing catalog + schema to make use of connection sharing.

[2016-02-08 14:50] ramonsmits commented on #149
Should support both: `userdb.dbo` and also `[userdb].[dbo]` to also supports dots in catalogs and/or schemas.

[2016-02-08 14:53] mauroservienti opened #158 "Better support for TTBR messages"
In the actual version (V2) of the transport [TTBR messages](http://docs.particular.net/nservicebus/messaging/discard-old-messages) are handled by endpoint process, this means thjat if the input queue is load with a lot of expired messages the endpoint will waste a lot of time at startup dealing with expired messages before being able to start consuming non expired ones.

We should handle such a sc

[2016-02-08 16:38] mauroservienti opened #159 "Endpoint name in the connection string is case sensitive"
When using multi-instance/schema support in V2 and defining connection strings using the format `NServiceBus/Transport/My-Endpoint-Name` the `My-Endpoint-Name` segment is case sensitive, and should not really be.

[2016-02-08 21:14] SimonCropp commented on #156
-1

This is a feature and we should avoid backporting

[2016-02-08 21:57] mauroservienti commented on #156
And this is preventing customers to use ServiceControl, that's why we proposed as we did for the previous version already to backport a fix that we introduced in a new version of the transport. I don't really see this as a feature we already support multi-schema in the actual version, the is implemented is the issue.

[2016-02-08 22:53] SimonCropp commented on #135
@mauroservienti should this be in docs? and what does "Multi-schema v3 to v1-2 setup guide" mean?

[2016-02-09 06:01] mauroservienti commented on #135
good point @SimonCropp

I don't know :)
Moved to https://github.com/Particular/docs.particular.net/issues/1152

[2016-02-09 06:01] #135 closed

[2016-02-09 13:41] mikeminutillo commented on #158
This is especially true in ServiceControl where heartbeat messages are generated with a TTBR and by default a system will generate 1 heartbeat every 40 seconds for every endpoint instance. There can be quite a backlog if ServiceControl has an outage for any lengthy period.

Could we simply have a task as a part of the message pump start up that wipes expired TTBR messages from the queue?

[2016-02-10 06:58] mauroservienti commented on #158
Yes. It is one of the options we are discussing.

[2016-02-17 13:19] weralabaj commented on #137
https://github.com/Particular/docs.particular.net/issues/1152 and https://github.com/Particular/docs.particular.net/issues/1103 cover multi-database updates in v3, so this issue can be closed.

[2016-02-17 13:19] #137 closed

[2016-02-17 13:21] weralabaj commented on #136
@mauroservienti Not sure exactly what wast that about? New doco page? Should be opened in doco then?

[2016-02-17 13:22] weralabaj commented on #134
I'm moving this to the doco repo

[2016-02-17 13:23] #134 closed

[2016-02-17 13:53] tmasternak commented on #113
@mauroservienti can we close this one as we have #149 and #139?
/cc: @ramonsmits

[2016-02-17 13:53] mauroservienti commented on #136
I don't know what this is about, it was in the original list in #100 when we decided to split issues.

@tmasternak do you remember what is this?

[2016-02-17 13:54] mauroservienti commented on #113
yes

[2016-02-17 13:54] #113 closed

[2016-02-17 13:58] tmasternak commented on #136
This was connected to the fact that sql connection pool is potentially shared by SqlTransport and any other Ado.Net code which uses the same connection string. It might result in situation that user will run out of connections in the pool because of that.

That being said I tried to come up with some valuable doco around that but apart from saying: "If you experience exceptions when opening connec

[2016-02-17 13:59] tmasternak commented on #136
Actually we might put such note in the connection string configuration section.

[2016-02-17 14:15] tmasternak commented on #139
I'm still working on extension point PR. Should be ready this week.

[2016-02-18 05:43] mauroservienti commented on #6
@tmasternak do you value in this? shall we re-open it and consider it for a minor release of vNext?

[2016-02-18 06:43] tmasternak commented on #6
@mauroservienti no. With the current approach to multi-db in v3 I can't think of any use case that would take advantage of DLQ.

[2016-02-18 07:12] mauroservienti commented on #6
on a broker, such as SQL, what happens if we try to **publish** to a non existing queue?
Sending to a non existing queue will raise an exception at the sender, so that's not an issue.

[2016-02-18 09:39] tmasternak commented on #6
That's correct. When queue does not exist exception will be thrown. If the send originated from handler that will most likely result in message being moved to errors. If the send is done outside of handler it's user responsibility to handle that.

[2016-02-18 09:58] tmasternak commented on #6
I think that publish and send will behave the same for SqlServer transport.

[2016-02-18 10:11] mauroservienti commented on #6
OK, if that's the case we don't need to support DLQs

[2016-02-18 11:39] MarcinHoppe opened #165 "SQL Server transport now periodically purges expired messages"
SQL Server transport discards expired messages when it receives them from the queue table. If the endpoint is down for some time and expired messages build up in the queue, the endpoint will need to receive all of these messages in order to discard them.

## Who is affected?

Users of the SQL Server transport receiving messages with `TimeToBeReceived` attribute.

## Symptoms

When there is a backl

[2016-02-18 11:50] mauroservienti commented on #165
Should we add `WHERE [Expires] is null OR [Expires] >= GETUTCDATE()` to the `SELECT` query that picks up incoming messages? (pseudo T-SQL)

[2016-02-18 11:56] MarcinHoppe commented on #165
I would be hesitant to do this because this would effectively disarm the standard mechanism that handles expired messages. I wanted to leave this mechanism in place because it would still cope well with low traffic of expired messages between periodic runs of the purge task.

Does this make sense?

[2016-02-18 13:13] SzymonPobiega opened #166 "Support other RDBMS databases e.g. Oracle"
There is very little code in the transport that is strictly SQL Server-related. Most of it can be used with other RDBMS databases like Oracle. We should think about either making it a general purpose SQL transport (not SQL Server) or implementing a separate Oracle transport. Here's why:
- We support Oracle persistence through NHibernate
- DTC story with Oracle is far from perfect so using MSMQ and

[2016-02-18 14:06] mauroservienti commented on #165
agree. We can always change the pick up behavior later.

[2016-02-18 14:30] MarcinHoppe commented on #165
:+1:

[2016-02-21 07:01] SzymonPobiega commented on #157
I don't think this is true. When using code API you should be able to specify the schema name and this code: https://github.com/Particular/NServiceBus.SqlServer/blob/master/src%2FNServiceBus.SqlServer%2FSqlServerMessageSender.cs#L36 would get the connection used for receiving the message and use schema-qualified table name.

[2016-02-21 07:03] SzymonPobiega commented on #149
I am not convinced here. Single even SQL 2016 does not support cross-catalog transactions in AlwaysOn mode, catalog seems to be something physical rather than logical. I'd rather put the catalog/database in same bucket as SQL server instances and handle it similarly to RabbitMQ shovel plugin.

[2016-02-21 07:06] SzymonPobiega commented on #102
I still think we should do it. The sql transport runtime should only depend on the presence of two SPs
`Receive` and `Send`. The installers should take care of creating these SPs. This way we enable people to fine-tune the behavior. Also, this would allow to run on other RDBMS if people provide proper SPs that have the same signature.

[2016-02-21 08:40] mauroservienti commented on #149
@szymonpobiega here you are sir https://github.com/Particular/NServiceBus.SqlServer/issues/146

And you have a good point, @tmasternak let's review this in light of that.

[2016-02-21 08:42] mauroservienti commented on #157
@SzymonPobiega

Sorry, what's not true?

[2016-02-21 19:13] MarcinHoppe commented on #102
@SzymonPobiega IMO, this is a double edged sword: currently if we have a bug or want to make an improvement, we fix the embedded SQL and ship a new NuGet. If these were SPs, either the endpoint would have to run under account with enough privileges to modify the database schema (not a good idea) or users would have to update the schema along with updating a NuGet.

BTW, right now there would have

[2016-02-22 00:02] SimonCropp commented on #102
in terms of us creating sprocs as part of an install. please consider the upgrade story when we want to change those sprocs. Also consider that a clients DBA may have customised those sprocs

[2016-02-22 00:04] SimonCropp commented on #102
also consider the competing consumer model... ie when is the sproc changes when two different versions may have assumptions on a specific iteration of a sproc

[2016-02-22 08:43] SzymonPobiega commented on #146
I am contemplating doing it as a small side project on my own but not sure yet (as I am not sure if I can bound the scope properly)

[2016-02-22 08:44] SzymonPobiega commented on #149
Here's the article that describes AlwaysOn vs cross-catalog transactions: https://technet.microsoft.com/en-us/library/ms366279(v=sql.130).aspx. My understanding is `not supported` but the wording is a bit confusing. Should we try it and verify?

[2016-02-22 08:47] tmasternak commented on #149
I think that we should try a spike and verify our assumptions.

[2016-02-22 11:30] andreasohlund commented on #6
What if the headers are corrupt?

[2016-02-22 11:40] tmasternak commented on #6
If by corrupt you mean not possible to deserialize than the exception will be returned to the sender just like in other cases.

[2016-02-22 11:53] andreasohlund commented on #6
I mean what if someone, eg doing native integration - http://docs.particular.net/nservicebus/sqlserver/operations-scripting, sticks invalid headers into the headers column? or runs some script that corrupts them?

[2016-02-22 11:58] tmasternak commented on #6
If there is a row in the table that we are able to query on the ado.net level but unable to [pare the results](https://github.com/Particular/NServiceBus.SqlServer/blob/develop/src/NServiceBus.SqlServer/Queuing/TableBasedQueue.cs#L51). We treat that as poison message and move it immediately to error queue.

[2016-02-22 12:00] andreasohlund commented on #6
Ah, yes that will cover it, thanks!

[2016-02-23 11:50] ramonsmits commented on #6
Just had a conversation with @MarcinHoppe and IMHO we should not DELETE expired message but move them to a dead-letter queue (DLQ).

We should reevaluate this.

The current implementation of just ignoring the message removes traceability and auditing.

[2016-02-23 11:53] andreasohlund commented on #6
this is exactly what MSMQ is doing if the DLQ flag is on (we have it on by default in NSB)

[2016-02-23 12:19] MarcinHoppe commented on #6
@ramonsmits @andreasohlund I guess ops people are used to periodically cleaning up MSMQ DLQ. We'd have to educate them to set up SQL Agent jobs (or something) to clean up the DLQ. Just a thought.

[2016-02-23 13:41] #148 closed

[2016-02-23 14:19] mauroservienti commented on #6
Or do this https://github.com/Particular/ServiceControl/issues/63

[2016-02-23 15:55] ramonsmits commented on #6
@mauroservienti That is an awesome feature to add to SC/SP in the future.

Still, in regards to the SQL transport I think it would be nice to add this as at least an option to enable DLQ. Maybe add it as minor release as deleting message does not feel as the correct thing. Maybe if the user wants a DLQ that it would be a good nudge to move to a different transport.

[2016-02-23 15:59] mauroservienti commented on #6
We just had an interesting discussion during the sync related to DLQ, let's re-open this. Tomorrow morning I'll take care of raising more issues and linking this.

[2016-02-24 18:17] kanpal commented on #99
Has this been addressed yet?

[2016-02-25 03:42] SzymonPobiega commented on #99
@kanpal the redesign is happening as part of V6 NServiceBys/ V3 of SQL transport. Why is this redesign important for you?

[2016-02-25 08:42] MarcinHoppe commented on #99
Should we close this then as there's no adaptive poller in V3 and we're not working on it for V2?

[2016-02-25 08:53] SzymonPobiega commented on #99
@MarcinHoppe yes, closing it. It is implemented in V3 and V2 stays as is.

[2016-02-25 08:53] #99 closed

[2016-02-25 16:59] kanpal commented on #99
@SzymonPobiega - We opened this ticket with AgWorks. We are waiting on this patch to move forward with the enterprise license that we had bought two years back, which we are yet to roll out in production. We are still using the older v3 with MSMQ.

[2016-02-26 10:04] SzymonPobiega commented on #99
@kanpal as I suggested, you can go to V5 and use 2.0.x version of SQL Server transport (no adaptation there). Alternatively, if you are not in hurry, you can wait until V6 comes out where this problematic adaptation algorithm has been replaced by an approach similar to MSMQ where we use `Peek` in a tight loop to check if there are any waiting messages.

[2016-02-26 12:28] SzymonPobiega commented on #157
@mauroservienti

I think you can use a single connection string and configure schema in code in V2.

[2016-02-26 12:32] mauroservienti commented on #157
@SzymonPobiega

Yes, correct, however it doesn't work in ServiceControl.

[2016-02-26 12:37] SzymonPobiega commented on #157
True.

[2016-02-26 12:39] mauroservienti commented on #157
[Here is the issue](https://github.com/Particular/ServiceControl/issues/618) related to ServiceControl, we appraciate your input.

[2016-02-26 12:43] SzymonPobiega commented on #157
So if I understand V3 correctly (cc @tmasternak ), the address string in V3 contains the schema name so  when we upgrade SC to NSB 6, it should work automatically. It would be hard to fix in NSB 5.

[2016-02-26 12:44] tmasternak commented on #157
@SzymonPobiega correct.

[2016-02-29 16:52] weralabaj commented on #100
@mauroservienti @justabitofcode is there anything I could do to help you with pushing multi-db/mulit-instance forward (code, docs, whatever...)?

[2016-03-01 08:33] weralabaj opened #170 "Automate DB creation before running Acceptance and Integration Tests"
In test we have 4 (?) DBs that need to be manually created to run tests. It's irritating because tests fail and I need to investigate.
Solution might be to add db creation to the "reset" script.

Low prio for now.

[2016-03-02 10:53] weralabaj commented on #155
@mauroservienti does it mean we should support the square brackets version ONLY?

[2016-03-02 10:54] weralabaj commented on #133
That is done as part of docs build, doesn't need a separate task.

[2016-03-02 10:54] #133 closed

[2016-03-02 10:56] tmasternak commented on #155
Yes. I think that is the idea. So current Endpoint@dbo would become Endpoint@[dbo]. What that will enable us in future (maybe 3.x) is to extend that with Endpoint@[DatabaseA].[nondbo] which becomes sql-like syntax and enables us easy parsing of db and schema parts.

[2016-03-02 11:38] weralabaj commented on #155
Hm another approacfh would be to assume that if there are no square brackets then it's a single part schema name. I guess it's more important in case of code api, e.g. UseSchema("receiver") vs UseSchema("[receiver]")

[2016-03-02 11:40] mauroservienti commented on #155
it is more complex to parse however I agree with @weralabaj that we should support both with and without brackets, so that we are fully aligned with what SQL supports

[2016-03-02 11:49] tmasternak commented on #155
I agree we should support `dbo` and `[dbo]` both in code and in message mappings. In the future when we add multi-database support:
 * we provide configuration method .DefaultDatabase()
 * if we an endpoint transport address in message mappings in form of `[].[]` we treat it as db+schema otherwise we treat it only as schema.

That would mean that this can be done as part of multi-db and postponed

[2016-03-02 11:52] mauroservienti commented on #155
if we start by enforcing the usage of brackets we can always relax constraints and in a minor release add support for other syntax styles.

[2016-03-02 11:56] tmasternak commented on #155
What I meant was: Do we need to provide `[]` support now? Is there any risk in leaving the things are they are now and adding support for `[]` and `[].[]` later on?

[2016-03-02 11:59] mauroservienti commented on #155
I sincerely don't know, it depends on how many customers may have "strange" schema names

[2016-03-02 13:25] tmasternak commented on #155
@mauroservienti I've updated the description. I think that backwards compatibility is an argument that makes it `Core V6`.

[2016-03-02 13:28] mauroservienti commented on #155
:+1:

[2016-03-02 13:45] tmasternak commented on #139
This is work in progress. We are working on legacy multi-instance code sample //cc: @justabitofcode

[2016-03-02 13:51] weralabaj commented on #155
When we specify [database] is it the name of connection string in config file?
Asking because apart from db name we'd need credentials etc., so I wonder where all other pieces of information would be.

[2016-03-02 13:54] mauroservienti commented on #155
It is the `catalog` name @weralabaj, the connection string will be defined with a default database or we no database at all, and the catalog can be specified in the address to override the default value in the connection string.

[2016-03-03 11:07] weralabaj commented on #155
@kbaley are you working on it? Can you please link PR?

[2016-03-03 13:25] weralabaj opened #171 "PauseAfterReceiveFailure(Timespan) obsoleted"
As explained here https://github.com/Particular/NServiceBus/issues/3544, in v6 CircuitBreaker's extension method PauseAfterReceiveFailure(Timespan) was obsoleted.

We copied implementation to SQL Server transport without this parameter. The question is should we add it? If not how to explain it?

[2016-03-03 15:54] kbaley commented on #155
@weralabaj I've started on it. I'll link the PR when I have one. Glad about the conversation here because I thought it was an entirely different issue. SQL Server allows square brackets in their object names. E.g. My]Schema is a valid schema name and "moo" and "[moo]" are considered entirely different schemas. Oddly, SQL Server escapes only the ] in its queries. So if you have a schema named This[

[2016-03-03 16:29] kbaley commented on #155
With :point_up: in mind, is this still accurate:

[2016-03-03 16:30] mauroservienti commented on #155
yes. It's less effort on our end for the initial release.

[2016-03-03 19:41] colin-higgins opened #172 "Ask SQL for default schema"
We currently set the default schema to a hardcoded "dbo".
Why not query sql server sysinfo for the actual default schema instead of making users override their own defaults in config?

cc / @kbaley

[2016-03-04 07:43] andreasohlund commented on #146
I thought about this yesterday since I gave (without thinking about it) a user the [advice ](https://groups.google.com/d/msg/particularsoftware/VgXe9wHM0o4/q78bJLnHAwAJ)to use multidb to get store and forward.

What I came up with:

1. create a new standalone "relay" process
2. Users configure it to/gets scripts that:
   * Generate views in the involved DB's that mimics the tables that the senders

[2016-03-04 08:08] weralabaj commented on #155
@kbaley @tmasternak tried to cover all the examples we could think of, but if you find some missing edge case add it to the description, please.

[2016-03-04 08:50] SzymonPobiega commented on #146
@andreasohlund I am not sure if this is similar to gateway because it is transparent and the gateway is not (which is IMO a :heavy_plus_sign: )

We have considered such a approach with @tmasternak but we dropped it in the initial design phases of SQL transport V3 because it would be hard to implement message driven pub-sub: the subscribe message would be sent to the destination queue (which exists

[2016-03-04 09:29] mauroservienti commented on #146
I [build it for V5.x](https://github.com/mauroservienti/NServiceBus.Connector) it supports pub/sub in a transparent manner, it is a set of hacks replacing internal behaviors to overcome some of the design limitations of V5, limitations intentionally put in place to prevent such a thing (and I agree).
Anyway the above sample is a generic solution, transport agnostic, I don't see why we cannot provi

[2016-03-04 09:55] SzymonPobiega commented on #146
@mauroservienti I think there are two levels at which we can tap such a thing. Ideally we would have a black box that just works without endpoints knowing about it. I believe this would be possible if we had native pub-sub.

Otherwise we need to provide a plug-in for the endpoints that would add/replace behaviors to the subscribe and unsubscribe pipelines to notify the shovel about new subscriptio

[2016-03-04 15:19] kbaley commented on #155
@weralabaj My question is: If SQL Server treats "dbo" and "[dbo]" as distinct schemas, shouldn't we as well? It seems to me, we should _not_ treat these statements as being equal:

Internally, we should use the [ ] syntax on the endpoint components but I believe we should recommend to people that they not include square brackets in the schema name unless they are actually part of the schema.

[2016-03-04 15:47] MarcinHoppe opened #173 "One of Acceptance tests fails randomly"
This is very likely a problem with acceptance test implementation. A similar problem has been observed for [NServiceBus.NHibernate](https://github.com/Particular/NServiceBus.NHibernate/issues/173).

Last time it happened:

https://builds.particular.net/viewLog.html?buildId=150459&tab=buildResultsDiv&buildTypeId=NServiceBusSqlServer_2RunAcceptanceTests

and here too

https://builds.particular.net/v

[2016-03-04 19:32] weralabaj commented on #155
@mauroservienti @tmasternak ? I don't have strong opinion on that.

[2016-03-05 06:07] mauroservienti commented on #155
Well I see 3 scenarios, based on my SQL/T-SQL limited knowledge (and maybe @ramonsmits cann add some other):

* schema name is a perfectly valid schema name, such as, `my`, in this case square brackets _are
not required_
* schema name contains invalid character or is a reserved T-SQL keyword, such as, `my.schema`, in this case square brackets **are required**
* schema name contains square brackets

[2016-03-07 07:47] tmasternak commented on #155
@kbaley I like the idea to follow the SQL approach. In other words the schema provided by the users will always be put in `[]` in any expression we execute.
As @mauroservienti pointed out it gets more complicated when we start allowing users to provide both catalog and schema in single expression. In such case the question is what should we do with `my.endpoint@foo.bar`? Should we treat `foo.bar`

[2016-03-07 16:51] kbaley commented on #155
If we go with a more relaxed approach, what is left to do for this issue?

[2016-03-07 16:59] tmasternak commented on #155
@kbaley I think that of we go with 'always putting brackets around user input' approach we need to make sure that `AddressProvider` always returns bracket version of the address.

[2016-03-07 17:02] tmasternak commented on #155
The second place is `ToEnpointAddress` on `TransportInfrastructure`

[2016-03-09 09:54] ramonsmits commented on #155
@tmasternak @mauroservienti  `my.endpoint@foo.bar` should in my opinion not result in `[foo].[bar].[my.endpoint]. If that is what the user wants then let the user specify these values.

[2016-03-09 09:58] ramonsmits commented on #155
Isn't it a possibilty to just allow native syntax in the message mapping? Is there a reason we could just allow something like:

    <MessageEndpointMappings>
        <add Assembly="assembly" Endpoint="[my.catalog][my.schema][my.queue]" />
    </MessageEndpointMappings>

That would be the most readable.

[2016-03-09 16:14] mauroservienti commented on #155
It breaks wire compatibility

[2016-03-09 20:41] tmasternak commented on #171
@mauroservienti do we have any information about anyone using this setting? /cc: @SzymonPobiega

[2016-03-09 20:43] tmasternak commented on #170
I agree it's low prio. We could use `ResetDatabase.sql` script which is running before ATT on build server.

[2016-03-09 20:51] tmasternak commented on #143
I think that we can add that in v3.x - there are no compatibility problems. I would suggest to not do it for legacy multi-instance mode (introduces significant complexity as we need to batch per destination sql instnace).

[2016-03-09 20:55] tmasternak commented on #157
I think that this one is closely related to #156. I think it's worth checking of the effort here. I can create a `spike` issue that will enable us to figure out how much work is needed and decide to do it or not. Thoughts?

[2016-03-09 20:58] tmasternak commented on #103
I think we can close this. Merge replication will not suit our goals as it does not have a transactional behavior. The synchronization between db's is performed is scheduled by external agent. /cc: @mauroservienti  @weralabaj

[2016-03-09 21:06] tmasternak commented on #93
I think that enabling such feature would be problematic from backwards compatibility perspective as well. V1 and V2 of SqlServer expect current version of table schema.

[2016-03-09 21:10] tmasternak commented on #82
I turns out that v6 of core manages message id through headers and does not care about transport level id at all. That's why SqlServer v3 enables custom ids without any table schema changes. I think that core v5 and v4 should have the same behavior which means that we should be able to backport it relatively easy.

[2016-03-09 21:10] tmasternak commented on #67
@SzymonPobiega is this still valid?

[2016-03-10 06:07] mauroservienti commented on #103
agree to close

[2016-03-10 06:08] mauroservienti commented on #157
@tmasternak don't we support the `legacy` mode exactly to address @SzymonPobiega concern about wire compatibility?

[2016-03-10 06:09] mauroservienti commented on #143
:+1:

:+1:

[2016-03-10 06:09] mauroservienti commented on #171
never heard about it.

[2016-03-10 06:58] SzymonPobiega commented on #171
Never heard about it.

[2016-03-10 07:04] SzymonPobiega commented on #67
I'd say raise another one if we detect such tests. Closing this one.

[2016-03-10 07:04] #67 closed

[2016-03-10 08:08] #103 closed

[2016-03-10 08:13] tmasternak commented on #157
@mauroservienti Do you mean representing addresses with schema on the wire?

[2016-03-10 08:25] tmasternak commented on #171
Than I propose to not support it in v3. If users complain we can add it in v3.x.

[2016-03-10 13:48] tmasternak commented on #155
@kbaley do you think it would be beneficial to have a sync and go through plan of attack and potentially share work?

[2016-03-10 14:16] kbaley commented on #155
@tmasternak Yes definitely. I have a tenuous grasp on the issues so I'll need some clarification

[2016-03-10 14:19] tmasternak commented on #154
@mauroservienti @SzymonPobiega @weralabaj What do you think? We need to make a decision if we are good with the current imbalance in scale-out scenario. I think that from the implementation perspective there are no blockers to postpone that until v3.x.

[2016-03-10 15:00] tmasternak commented on #155
After quick sync with @kbaley  we decided that we will start with supporting both `bracket` and `bracket-less` syntax for schema:

Internally all string representations of addresses will have brackets. On the implementation level this will result in changing `Parse` and `ToString` logic of `QueueAddress`.

 In the future when we support multi-catalog we will support `brackets` syntax `[catalog].[d

[2016-03-10 16:26] mauroservienti commented on #154
Agree, we can release this later as an improvement.

What is causing the imbalance for low throughput scenarios?

[2016-03-10 16:30] mauroservienti commented on #157
No, say that we have a multi-schema based environment. Where V6 needs to talk to V5, V6 address is something like destination@schema V5 will use the old approach, even if V6 sends the reply address as sender@schema V5 can use it since the V5 transport will ignore the thing following the @. Correct?

[2016-03-10 19:55] tmasternak commented on #154
@mauroservienti The imbalance is caused by the peek-receive mechanism and default concurrency limit. What happens is that each endpoint instance has a single thread doing peeks which query how many messages are there in the input queue. Then it creates a single task for each message but no more than concurrency limit. The peek is done every second and concurrency limit is 100. So with small number

[2016-03-10 20:01] tmasternak commented on #154
@MarcinHoppe @mauroservienti I think that it might matter when processing of single message takes considerable amount of time (I mean minutes) and they are written to input queue in batches.In such case we can have throughput which is significantly lower than optimal. However I'm not sure if such load pattern is realistic and in my opinion such things happening are probably sign of design issues.

[2016-03-10 20:06] MarcinHoppe commented on #154
@tmasternak Out of sheer curiosity: could we tune the system in such a case to use lower concurrency limit on a single endpoint and run more competing endpoints?

/cc @mauroservienti @SzymonPobiega

[2016-03-10 20:09] tmasternak commented on #154
@MarcinHoppe I think that has a good changes of working. :+1:

[2016-03-10 20:26] #154 closed

[2016-03-10 20:29] tmasternak opened #174 "Provide better load-balancing of messages for small, batched message receive pattern"
Goal of this issues is to provide mechanisms that will enable better message load-balancing in scale-out scenarios for patterns when groups of small number of messages are written to the input queue.

See #154 for more details and rationale.

## PoA

- [x] Add peek batch size to `master` and test it #710
- [x] Add peek batch size to `release-6.2` and test it #711
- [ ] Upgrade guide https://github

[2016-03-10 20:47] tmasternak commented on #75
@andreasohlund @mauroservienti I think that this issue and 3 or 4 more all fall into "Enable schema changes keeping backward compatibility". This connects to #102. Should I close this one an the others and merge content to #102?

[2016-03-11 06:40] andreasohlund commented on #74
I think it still relevant. Since the core is just requiring a string we should:

1. Make the column and IDENTITY to make it easier for native integrations to insert into it
2. Return "TableName-value" to the core (the core uses that ID if the message has no MessageID header) The reason to put the table name is to make it globally unique.

Perhaps this should be in a different issue?

[2016-03-11 06:41] andreasohlund commented on #75
I'm ok with that

[2016-03-11 09:17] mauroservienti commented on #156
@Particular/servicecontrol-maintainers @Particular/transport-maintainers please chime in

[2016-03-13 23:54] johnsimons commented on #156
Yes we do need to up the major version, since we are taking away existing functionality.

Just to clarify, I would rephrase this as, add support for multi-catalog to existing production version, I do think this is probably something we want to do before the v6 compatible version goes out. I would package this and the removal of multi-instance together.

[2016-03-13 23:56] johnsimons commented on #156
@mauroservienti let me know if you need help with pushing this to be higher priority then the current v6 work

[2016-03-14 14:10] mauroservienti commented on #156
Had a quick recap call with @tmasternak and we agree that this should be possible. @tmasternak next step is to validate our assumptions looking at current implementation in V2 and report back here.

[2016-03-15 10:10] tmasternak commented on #156
I've sync with @SzymonPobiega I looks that potential problems could be result of the fact that we explicitly ignore machine part (part after `@`) of the transport address in V2. That being said I think that we will see what are our options when we start fixing this.

[2016-03-15 10:15] tmasternak commented on #172
I've talked with @kbaley and it looks that we could add it pretty easily when setting up [SqlTransportInfrastructure](https://github.com/Particular/NServiceBus.SqlServer/blob/develop/src/NServiceBus.SqlServer/SqlServerTransport.cs#L24).

Instead of passing `dbo` as default schema we should do a query.

[2016-03-15 10:17] #171 closed

[2016-03-15 10:21] tmasternak commented on #157
@mauroservienti  that is correct.

[2016-03-15 10:24] tmasternak commented on #157
This is connected to #156. Should I close this one and we can track progress there? /cc: @mauroservienti

[2016-03-15 10:26] mauroservienti commented on #157
yeah, replaced by #156

[2016-03-15 10:26] #157 closed

[2016-03-15 10:58] tmasternak commented on #74
@andreasohlund ok so the argument here is native integration right?

[2016-03-15 11:10] andreasohlund commented on #74
Yep

[2016-03-15 11:12] andreasohlund commented on #74
Actually, it think we should make it an identity instead since we want it to be autoincremented and performant? (I'll update the description if we agree)

[2016-03-15 12:37] tmasternak opened #178 "Make native integration easier"
## Goal

The goal of this task is to make changes to SqlServer table schema to make the native integration easier.
It groups other issues which have been created separately.
Those changes should be implemented in such a way that **wire compatibility** with older versions is preserved.
Potential changes:
- [ ] Make the Id column a IDENTITY instead of `UniqueIdentifier`. Details: #74
- [ ] Make the

[2016-03-15 12:38] #74 closed

[2016-03-15 12:39] #73 closed

[2016-03-15 12:39] #71 closed

[2016-03-15 12:42] tmasternak opened #179 "Remove unused columns from queue table"
## Goal
The goal is to remove unused columns from queue table schema. The biggest problem here will probably be making sure we are **backwards compatible** with older versions of the transport.

Potential changes:
 * [ ] Remove the `Recoverable` column. Details #72
 * [ ] Remove `ReplyToAddress` and `CorrelationId` columns. Details: #75

[2016-03-15 12:42] #72 closed

[2016-03-15 12:42] #75 closed

[2016-03-15 12:43] MarcinHoppe commented on #178
Would the new schema apply only to endpoints created with transport with this feature implement or are we actually thinking about migrating schemas of existing queue tables?

[2016-03-15 12:49] tmasternak commented on #178
@MarcinHoppe TBH I don't know :/. Ideally users should not care which means new endpoints just work with the old once. I know that one of the discussed options where `updatable views` but not decision was made.

I think that either way any changes to table schema should probably be postponed until we figure out the best approach to multi-instance support #139. One of the options there is to provid

[2016-03-16 09:56] tmasternak commented on #93
I [looks](https://github.com/Particular/NServiceBus/issues/2977#issuecomment-197227661) that for V6 we won't be able to support this feature. I'm closing this one for now and we can revisit it later.

[2016-03-16 09:56] #93 closed

[2016-03-16 09:58] tmasternak commented on #35
@pawelpabich do you any more help on that?

[2016-03-16 10:40] tmasternak commented on #139
I've cleaned up the issue removing the non-core v6 items.

[2016-03-16 10:47] tmasternak opened #180 "Create SqlServer deployment guidance"
## Goal
Goal of this issue is to create documentation guiding `SqlServer` users in case of following requriements:
 * [ ] Requirement for better performance (probably overall throughput)
 * [ ] Requirement for high availability of the broker
 * [ ] Requirement for store-and-forward due to poor endpoint-to-broker connectivity

## Plan of Attack (draft):
- [ ] Spike on Sql Server 2016 Availability G

[2016-03-16 10:47] tmasternak commented on #180
/cc: I'm not sure what label should we use? Maybe we need new one?

[2016-03-16 10:49] MarcinHoppe commented on #180
@tmasternak I'd explore and document our recommendation for using In-Memory OLTP for table queues. Potentially huge performance gains.

[2016-03-16 10:50] tmasternak commented on #180
@MarcinHoppe good point!

[2016-03-16 10:51] MarcinHoppe commented on #180
@tmasternak I updated issue description.

[2016-03-16 13:45] pawelpabich commented on #35
We still use Task.Run as a workaround. Are you planning any work in this area ?

[2016-03-16 14:18] tmasternak commented on #35
@pawelpabich I'm not aware on any changes that we are planning for V5 but let me verify that.

[2016-03-17 07:45] #136 closed

[2016-03-17 13:09] tmasternak opened #181 "Receiving duplicate events from Version 3 publisher after upgrading subscriber from Version 2 to Version 3"
Taskforce: @SzymonPobiega @danielmarbach @johnsimons

Let's assume we have Endpoint A and Endpoint B both running V2 of SqlServer. Let's assume further that A is subscribing to events published by B.

In situation when Endpoint A gets updated to V3 of SqlServer transport it will start receiving duplicated messages. The root cause of this behavior is duplicate entry in messages subscription storage

[2016-03-17 13:56] SzymonPobiega commented on #181
Note on how to repro: run SQLNHibernateOutbox sample first for V2 and then, without clearing the DB, for V3.

[2016-03-18 14:23] WojcikMike opened #182 "SQL Server transport version 2.2.2 does not support SQL Server 2008"
Taskforce: @MarcinHoppe @tmasternak

SQL Server transport version 2.2.2 uses [IIF](https://msdn.microsoft.com/en-us/library/hh213574.aspx) logical function in receive and send queries. IIF function is only available in SQL Server 2012 and later, which causes exceptions when endpoint tries to receive messages from the queue in SQL Server 2008.

## Who's affected

Users of SQL Server transport versi

[2016-03-18 14:34] MarcinHoppe commented on #182
@Particular/transport-maintainers Do we have a policy around how far back do we support our dependencies, in this case the database?

[2016-03-21 08:02] tmasternak commented on #182
@MarcinHoppe I don't think we have any policy. I know that we have been testing SqlServer against Ms Sql 2012 and Ms Sql 2014. That being said I think we should do our best to support 2008 as well. /cc: @mauroservienti

[2016-03-21 08:29] MarcinHoppe commented on #182
@tmasternak Do we even run automated tests on SQL Server 2014 now? The TeamCity build configuration has been archived.

Running acceptance tests on all supported versions in the simplest way to ensure we support or at least we know the transport is compatible with all these versions of SQL Server.

[2016-03-21 08:33] tmasternak commented on #182
I agree. Part of the scope of fixing this should be setting up the ATT.

[2016-03-21 08:35] MarcinHoppe commented on #182
@tmasternak Updated issue description to cover this. Do we need to care about SQL Server 2005? :smile:

[2016-03-21 08:38] mikeminutillo commented on #182
Is dropping support for a dependency version considered a breaking change in the context of SemVer?

[2016-03-21 08:53] WojcikMike commented on #182
As we agreed that this issue is a bug, can we try to create an action plan. From what I hear:
* Create a hotfix to change the offending queries to work on SQL 2008
* Set up ATT to be run on all supported MS SQL versions

Should we document somewhere versions of MS SQL that we support? readmed.md file + release notes?

[2016-03-21 08:53] tmasternak commented on #182
@mikeminutillo http://semver.org/#what-should-i-do-if-i-update-my-own-dependencies-without-changing-the-public-api. That said I think the author was referring to software dependencies.
Not supporting Ms Sql 2008 causes our public Api to break for some users after update and in my opinion should be considered new Major as you mentioned.

[2016-03-21 08:54] tmasternak commented on #182
@WojcikMike :+1: for documenting supported versions.

[2016-03-21 09:01] MarcinHoppe commented on #182
Should we unlist 2.2.2 from NuGet as it violates SemVer?

[2016-03-21 09:03] tmasternak commented on #182
@MarcinHoppe I'd rather release a new patch fixing 2008 support problem.

[2016-03-21 09:04] MarcinHoppe commented on #182
:+1:

[2016-03-21 10:53] tmasternak commented on #181
Can you consider that for V6 @Particular/tf-v6-launch-plat-dev

[2016-03-21 11:05] tmasternak commented on #180
@Particular/tf-v6-launch-plat-dev can you consider that for V6? /cc: @mauroservienti

[2016-03-21 11:35] andreasohlund commented on #181
Based on https://github.com/Particular/PlatformDevelopment/blob/master/Guidelines/triage.md would we patch this if it where a production issue?

[2016-03-21 11:42] tmasternak commented on #181
@andreasohlund If that was bug on production and we could patch it I would say "Yes". In my opinion it falls under `Data incorrectly updated in storage of either the user or NServiceBus` for critical patch criteria.

[2016-03-21 11:48] andreasohlund commented on #181
I agree, do we need to spell out "duplicate messages" explicitly in that doc?

@Particular/tf-v6-launch-plat-dev @Particular/transport-maintainers based on https://github.com/Particular/NServiceBus.SqlServer/issues/181#issuecomment-199236738 I propose that we put this in scope for v6?

[2016-03-21 15:12] ramonsmits opened #183 "Introduce the concept of dialect to support multiple flavors of SQL Server"
In #182 there was an issue related to unsupported syntax in 2008. A project like NHibernate has the concept of dialects. Here you can make use of 'newer' SQL server version to get more efficient queries.

Maybe it has value to also add this concept to the SQL Transport. Potentially this could make the transport be less coupled to SQL Server opening to the option to support even another RDBMS altho

[2016-03-21 19:42] MarcinHoppe commented on #183
In addition to this being a nice refactoring, I like that it opens up a possibility to support other DBMS systems (see #166 for a sample customer request to support Oracle).

[2016-03-22 07:41] danielmarbach commented on #180
sounds for me like a general purpose documentation like how to deploy SqlServer in general. I think this needs a more expressive title.

One thing that is not clear for me:

Sounds a bit off to me since if this item would be approved the scope of this item could suddenly change midway. How about keeping this one focused. When you find out that availability doesn't work, create a new item with a ne

[2016-03-22 07:57] danielmarbach commented on #181
Agree this should be in scope. We should not force our users to do all-in-one upgrades. This would hinder adoption of the transport and therefore backfire.

[2016-03-22 09:15] tmasternak commented on #180
:+1:

[2016-03-22 09:36] weralabaj commented on #155
@tmasternak can that issue be closed?

[2016-03-22 09:36] tmasternak commented on #155
@weralabaj no we still need to update the production tests to the newest version.

[2016-03-22 09:37] weralabaj commented on #139
Regarding "Documentation/Guidance around security" I think that should be raised as a separate issue in docs. It's not specifically V6 related.

[2016-03-22 09:41] johnsimons commented on #182
So this is a critical issue right ?

[2016-03-22 10:23] andreasohlund commented on #181
I have added this to the scope of v6 since this is a bug that would require us to patch v6 cc @Particular/tf-v6-launch-plat-dev

[2016-03-22 10:49] andreasohlund commented on #180
Having a migration path for v2 multi-instance users going to v3 seems like a must have for "core v6" since the spike might result in breaking changes needed in the transport.

@Particular/tf-v6-launch-plat-dev after talking to @danielmarbach and @tmasternak we decided to include this in the scope for v6

@tmasternak can you flesh out the description a bit more to explain why 2016 availability grou

[2016-03-22 11:54] tmasternak commented on #35
@pawelpabich Currently there are no plans to do work in this area in V5. I'm closing this issue.

[2016-03-22 11:54] #35 closed

[2016-03-22 12:22] MarcinHoppe opened #185 "Run ATTs on full range of supported versions of SQL Servers"
Currently we only run ATTs on SQL Server 2012 only. Recently we [suffered](https://github.com/Particular/NServiceBus.SqlServer/issues/182) from lack of ATT coverage on SQL Server 2008.

It seems that we should currently be running ATTs on the following versions of the database: 2008, 2008 R2, 2012, 2014 and soon 2016.

[2016-03-22 12:58] #155 closed

[2016-03-22 13:17] #182 closed

[2016-03-22 17:41] indualagarsamy opened #187 "Configuration preference order is incorrect. Should be code first then config."
Based on the recent documentation:

However, this is backwards. Code provided configuration should have precedence over what's provided in the app.config. That's currently how the core operates.
eg. the error q setting will use code config if present https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Recoverability/Faults/ErrorQueueSettings.cs#L14

[2016-03-23 09:50] weralabaj commented on #187
@indualagarsamy I've checked using sample and have no idea where that comment comes from. Code has precedence over config as far as I can tell.

[2016-03-23 14:58] MarcinHoppe opened #188 "Transport adds missing index when installers are executed"
### Problem statement

Queue tables created by versions 2.2.1 (and earlier) of the transport do not create an index on the `Expires` column. When transport version 2.2.2 (or later, including V3) runs on such a queue table, it logs a warning about a missing index and points user at the doco on how to create this index manually.
### Solution proposal

Usually the endpoint will be running using low p

[2016-03-23 14:59] MarcinHoppe commented on #188
@Particular/transport-maintainers @Particular/servicecontrol-maintainers Please chime in on this issue.

[2016-03-23 16:18] weralabaj commented on #181
There's one more problematic aspect - depending on the configuration, some endpoints can not work correctly after upgrade. E.g. using the existing SQLNHibernateOutboxEF sample, running it requires adding:
`if (queueName.Equals("Samples.SQLNHibernateOutboxEF.Receiver", StringComparison.OrdinalIgnoreCase))
                {
                    return "receiver";
                }`
inside `UseSpecifi

[2016-03-23 16:24] mauroservienti commented on #181
what if we ship the message with the old address style, so removing everything after the @ and we ship the `schema` in the headers?
In this way we are fully compliant at the wire level with v2 of the transport, we can make v3 be able to understand both formats such as:

* endpoint@schema
* endpoint (with schema info in the headers)

And in 3 versions, say at v6 of the transport we can drop wire su

[2016-03-23 16:29] SzymonPobiega commented on #181
Makes sense but requires having two behaviours - one in the incoming and
one in the subscribe pipe. I wonder if we should remove the message driven
subscriptions from the core and allow transports to deal with this subject.
Otherwise each wire compat issue will require nasty hacks.

On Wednesday, 23 March 2016, Mauro Servienti <notifications@github.com>
wrote:

[2016-03-23 16:34] mauroservienti commented on #181
would be very interesting, I don't think we can deal with it at this stage, maybe in the next release cycle.

Can we introduce it as a minor release? or due to the fact that it breaks some transports is considered a breaking change and thus requires a major?

[2016-03-23 17:02] SzymonPobiega commented on #181
The SQL transport can provide `IManageSubscriptions` and then the core would switch off its subscription handling automatically. It can be done in a minor so having hacks in the pump and the dispatcher seems like a way forward for `3.0.0`.

[2016-03-23 17:52] weralabaj commented on #181
Is SQL the only transport that has those kind of issues as far? If so then providing custom IManageSubscriptions implementation sounds reasonable.

[2016-03-23 23:42] johnsimons commented on #188
@MarcinHoppe I see this as a bug, hence a hotfix

[2016-03-24 06:43] mauroservienti commented on #188
I agree that this is a bug, I don't see this as critical hence the L label. We have a workaround and is not causing any critical failure or data loss. We need to fix it, as a hotfix.

Do we need to do it now?

[2016-03-24 08:41] tmasternak commented on #188
As I don't like the fact that SC is putting warnings in he log I this is not a critical one.

[2016-03-24 09:02] SzymonPobiega commented on #181
Here's the PlatDev issue that I rose to convince us to move to native pub sub in MSMQ, SQL and ASQ: https://github.com/Particular/PlatformDevelopment/issues/664.

I believe moving to native pub sub will allow us to solve this compat problem while retaining the V3/6 advantage of not having to use schema overrides on publisher side. Here's the list of case studies (which I think is exhausting all po

[2016-03-24 09:04] weralabaj commented on #181
@SzymonPobiega Do we have to introduce native pub sub in all transports first to follow this path? Or we could do that only for SQL transport?

[2016-03-24 09:05] SzymonPobiega commented on #181
@weralabaj we can do it only in SQL transport as there are no core changes required for this. The core is aware of `IManageSubscription` and uses it automatically, if provided by the transport (in place of unicast pub-sub).

[2016-03-24 09:07] SzymonPobiega commented on #181
Also, regarding scale out, this approach I described should work because when upgrading instances one-by-one the ones still on V5 would continue to use their subscription store (and schema overrides in code) while the ones upgraded would use the new store (primed during install). Neither would contain duplicate entries.

[2016-03-24 10:03] danielmarbach commented on #100
@Particular/transport-maintainers since all outstanding issues are tracked should we close this one?

[2016-03-24 10:11] SzymonPobiega commented on #181
@weralabaj @tmasternak updates with information that came out during our call.

[2016-03-24 10:24] tmasternak commented on #100
@weralabaj I think we need to track retrospective somewhere else. Are we tracking sample updates separately in docs?

[2016-03-24 10:46] mauroservienti commented on #100
why? we tried that and get back to include the retrospective in the original issue

[2016-03-24 12:18] tmasternak commented on #100
@mauroservienti The reason why in my opinion it makes sense to move out of this one is visibility. Right now when I look at the issues in repo I already skip this as it brings no value in terms of figuring out what's left. The assumption was if this is colsed we are ready for V6 but we can equaly state that if there is no issue with V6 label we are done.

[2016-03-24 13:34] weralabaj commented on #100
The only thing that is not finished is related to multi-db, we track it with a separate issue.
I'm ok with whatever is more convenient for squad, we can schedule retro now and close it?
I think we won't wait for the v3-v2 pub sub bug right?

[2016-03-24 13:43] tmasternak commented on #100
:+1:

[2016-03-24 13:50] mauroservienti commented on #100
I disagree :smile:, but seems that I'm the minority. So let's close this and open an issue for the retrospective. Are we going to have a retrospective for the v3-v2 pub sub bug?

[2016-03-24 14:32] tmasternak opened #189 "Public Api Aproval Tests"
Connects to https://github.com/Particular/PlatformDevelopment/issues/709
Connects to https://github.com/Particular/PlatformDevelopment/issues/732

## Goal
We want to be able to control the types that are exposed as api of `SqlServer`. In order to achieve that we should use ApiComparer in the similar manner that `Core` does.

## Plan Of Attack
- [x] Setup ApiComparer Tests
- [x] Do review of the ty

[2016-03-25 09:28] weralabaj commented on #100
@mauroservienti I think we should discuss it during this retro too. Even if we don't have a fix yet.

[2016-03-25 09:31] weralabaj commented on #100
I've scheduled retro. Closing this issue.

[2016-03-25 09:31] #100 closed

[2016-03-25 09:47] weralabaj commented on #180
@sfarmar also suggested that we should consider architectural aspects, e.g. before we said in the doco that this setup makes sense because endpoints are fully autonomous.

[2016-03-25 21:34] indualagarsamy commented on #187
@weralabaj - I saw the comment in the linked doco PR. The new doco http://docs.particular.net/nservicebus/sqlserver/configuration accurately reflects your findings. I raised an issue originally because I wasn't sure if the doco was incorrect or if the behavior was incorrect. Closing this issue.

[2016-03-25 21:34] #187 closed

[2016-03-29 09:05] mauroservienti commented on #100
Why are we closing the issue if the retrospective is not happened yet?
Are all the doco stuff done?

[2016-03-29 09:58] tmasternak commented on #100
@mauroservienti sorry for misunderstanding. But what I thought is that we don't want to keep this one around when we have other issues that cover PoA from this one.

[2016-03-29 10:08] mauroservienti commented on #100
Wasn't this behaving as an umbrella for dependent task?
Didn't the squad this morning decided that umbrella issues must be updated with details of the on going progress in dependent tasks?

[2016-03-29 10:13] tmasternak commented on #100
@mauroservienti My understanding was that the decission was: "If the umbrella task exists ... "

[2016-03-29 10:13] mauroservienti commented on #100
OK, got it.

[2016-03-29 10:55] weralabaj commented on #100
@mauroservienti I closed that issue last week, so it might conflict with the decision from today's morning :) We can reopen it if needed, the confusion we wanted to address was having the same thing tracked in multiple issues.
Retro is scheduled for next week.

[2016-03-30 10:39] tmasternak commented on #139
We are waiting for doc PR to get merged and this one is done.

[2016-03-30 10:41] SimonCropp commented on #139
@tmasternak can u link to the docs PR

[2016-03-30 10:51] tmasternak commented on #139
@SimonCropp I've added PoC for the docs issue that is already linked (the only outstanding in PoC here)

[2016-03-30 13:41] mauroservienti commented on #139
Will this be included in the retrospective we already scheduled?

[2016-03-30 13:44] weralabaj commented on #139
@mauroservienti Of course, that was part of that bigger task & the same TF, so I think we should do it together.

[2016-04-01 09:16] weralabaj commented on #139
According to today's discussion - I'm reopening this issue for retrospective.

[2016-04-01 11:32] tmasternak commented on #139
Removing the `In Progress` - this has not been scheduled.
@weralabaj I think that we should close this one and add `Consider for Promotion` the retrospective one.

[2016-04-01 11:35] weralabaj commented on #139
What has not been scheduled? Should I re-open the other issue? Or open a new issue just for retrospective and cancel our meeting for now until squad prioritizes?

[2016-04-01 11:41] tmasternak commented on #139
I think the latter one.

[2016-04-01 11:46] weralabaj commented on #139
I don't understand the reasoning behind this. I prematurely closed the issue - ok, my bad, I apologized and I reopened it for retro. Luckily for me, the WIP limit allows for going back at the moment.
So now we're risking that retro won't happen at all? How is that actually adding any value? And for whom?

[2016-04-01 11:47] weralabaj commented on #139
Hard not to think that I'd be better off not following the process, and making retro without making it visible. "Stupid me for following the process" seems to be the message, I don't think this is what we're trying to get across. Or we just don't care about retros anymore?

[2016-04-01 16:10] mauroservienti commented on #146
Since this is backlogged and I have no capacity, right now, I'll remove myself from the task force.

[2016-04-05 10:30] #139 closed

[2016-04-11 10:14] andreasohlund commented on #181
Do we need this for beta or RC?

[2016-04-11 10:17] tmasternak commented on #181
I would say beta - probably not. RC yes.

[2016-04-11 10:56] SzymonPobiega commented on #181
I'd say we need it for beta. Because beta customers are the ones that are more likely to upgrade their endpoints as opposed to create new projects. They'll upgrade and start getting duplicates which does not look like a great first experience with V6.

[2016-04-11 13:01] andreasohlund commented on #181
@Particular/training-maintainers please make a call on https://github.com/Particular/NServiceBus.SqlServer/issues/181#issuecomment-208268540

[2016-04-11 13:08] DavidBoike commented on #181
@andreasohlund **Training** maintainers?

[2016-04-11 13:10] andreasohlund commented on #181
fixed, sorry :)

[2016-04-11 13:29] tmasternak commented on #181
That's a valid argument. I agree we should have this for beta.

[2016-04-11 13:31] andreasohlund commented on #181
Ok, @Particular/platform-dev-squad I'm moving this one to next in line. Let's transfer the task force from https://github.com/Particular/PlatformDevelopment/issues/732 and start this one instead?

[2016-04-11 14:29] SzymonPobiega commented on #181
:+1:

[2016-04-12 11:32] andreasohlund commented on #181
After talking to @SzymonPobiega we came to the conclusion that since we don't have a clear idea on how to solve this it shouldn't be in progress and should not have a task force. @SzymonPobiega will work (and pull in relevant people as needed) in order to come up with a POA. Once we have that we can staff this properly and complete it.

Moving this back to next in line and removing @danielmarbach

[2016-04-12 11:33] weralabaj commented on #181
Since Szymon is working on it then why isn't that in progress?
I understand that it's problematic that we have a 1-person TF, but I don't think this is the right solution because we lose visibility into what's going on.

[2016-04-12 13:38] adamralph commented on #181
We discussed offline and agreed that @SzymonPobiega will continue to explore the issue and get a TF together before it's ready to go into progress again (WIP limit allowing).

[2016-04-12 18:52] danielmarbach commented on #181
Why can't the task force do the thinking to get this ready? So a dedicated
TF to get the PoA for this conplex issue. One single person (sorry szymon)
might not have the necessary brainwave to PoA convertion power available

On Tuesday, April 12, 2016, Adam Ralph <notifications@github.com> wrote:

[2016-04-12 19:51] SzymonPobiega commented on #181
@danielmarbach if I understand this correctly, this is more a matter of taste. I don't blame the squad, they are doing what they are expected to. It is clear that I won't be able to make a decision myself and there will be *a group* of people involved. Because calling that group a *task force* carries a lot of assumptions, constraints etc. I am fine with calling it a group. You are more than welco

[2016-04-13 09:20] SzymonPobiega commented on #181
@danielmarbach @petersgiles would you like to (re)join the TF for here? I've did some additional research and I am confident this is now in the ready state.

[2016-04-13 11:35] SzymonPobiega commented on #181
@tmasternak @weralabaj @mauroservienti can you, as :chicken: go through the possible solutions described in this issue and add your comments here? If we can do this async, it would be easier to manage. Worst case I can set up a call.

[2016-04-14 05:09] SzymonPobiega commented on #181
@danielmarbach Should we add #198 to the plan of attack here?

[2016-04-14 06:56] danielmarbach commented on #181
@tmasternak @SzymonPobiega @weralabaj is the motivation to use the schema for v3 written down somewhere?

[2016-04-14 07:11] danielmarbach commented on #181
@SzymonPobiega yes I'll do

[2016-04-14 07:14] mauroservienti commented on #181
After reading all @SzymonPobiega proposals my preference is for `native pub/sub in V3`. The only cons is at upgrade time in a scenario where

1. multiple schemes are in place
* the endpoint is scaled out
* the environment must be upgraded with no downtime using side-by-side deployments
* a subscription comes in during the upgrade and is handled by a V2 instance

if I recall correctly we said, in B

[2016-04-14 07:15] tmasternak commented on #181
@danielmarbach #116 #117. The main reason to put it in address is to avoid hidden coupling.

[2016-04-14 07:16] mauroservienti commented on #181
And to make ServiceControl able to work with the SQL transport when using the multi scheme feature

[2016-04-14 08:30] danielmarbach commented on #181
@mauroservienti although native pub sub would be our preference as well we discussed that it is too involved right now. Even when we introduce native pub sub (which might have other unforeseen consequences) we could potentially end up with v2 and v3 nodes that need to work together. So in that case how would you migrated on the fly from the NH storage to the transport storage without risking to wa

[2016-04-14 08:34] mauroservienti commented on #181
@danielmarbach as I said it this:

is a supported scenario, and AFAIK it is not, than I agree with you.

[2016-04-14 08:37] danielmarbach commented on #181
the problem is all solutions we discussed which involved migrations were actually an all or nothing upgrade scenario. I don't think we can agree to this, do you?

[2016-04-14 08:39] SzymonPobiega commented on #181
I think we can have native pub sub without the need to upgrade all. Need to
go through all scenarios.

On Thursday, 14 April 2016, Daniel Marbach <notifications@github.com> wrote:

[2016-04-14 08:45] danielmarbach commented on #181
@SzymonPobiega let's have a discussion.

[2016-04-14 08:51] tmasternak commented on #181
As a :chicken: I going to say that for me the most promising is the `Deduplication on sending in V3` and `Adding triggers on the database level to subscription storage` (btw. the last one should probably be added into description).

[2016-04-14 14:50] danielmarbach commented on #181
Today was yak shaving day. Had to clean up existing prod tests, move them over to the end2end test repo and then based on that write the reproduction test. The reproduction test is now up and running as a PR on the end2end test repo and linked against this issue.

[2016-04-14 16:26] SzymonPobiega commented on #181
* Updated the PoA
 * Modified the test to properly wait
 * Implemented a WIP version of dispatcher deduplication (that does not rule out other options yet at this stage )

[2016-04-15 07:11] danielmarbach commented on #181
We decided to leave the test in the end2end test repo. We know that the value of this test will diminish over time. But it is currently a good example of how to write end 2 end test with upgrading endpoints.

[2016-04-15 07:17] danielmarbach commented on #181
Added retro section and notes about documentation

[2016-04-18 08:29] SzymonPobiega commented on #181
Scenario-based verification of implemented solution (dispatcher deduplication):

* [ ] V5 publisher + new V6 subscriber
* [ ] V5 subscriber + new V6 publisher
* [ ] new V6 subscriber + new V6 publisher
* [ ] V5 publisher upgrading to V6 + V5 subscriber upgrading to V6
* [ ] V5 publisher  + non-scaled subscriber upgrading to V6
* [ ] V5 subscriber + non-scaled publisher upgrading to V6
* [ ] V6 pub

[2016-04-18 08:33] andreasohlund commented on #181
Could this have negative impact on performance? (any specific tests that we need to do)

[2016-04-18 09:11] johnsimons commented on #181
I can help with the testing tomorrow

On Mon, 18 Apr 2016 at 18:29 Szymon Pobiega <notifications@github.com>
wrote:

--

*John Simons*
*Engineer, Particular Software*

Email*:*  john.simons@particular.net
Web:    www.particular.net

[2016-04-18 12:11] SzymonPobiega opened #202 "Audit message is sent to the address from `NServiceBus.SqlServer.CallbackQueue` header"
### Symptoms

Audit message is sent to the address from `NServiceBus.SqlServer.CallbackQueue` header.

### Who's affected

All users of version 3 who also have endpoints using version 2.

### Root cause

The legacy callback handling behavior overrides the destination in the routing stage if the *incoming* message is a reply. The intent of the author was probably to override it if the current messa

[2016-04-18 12:12] SzymonPobiega commented on #202
@Particular/transport-maintainers @Particular/tf-v6-launch-plat-dev this needs to go into V6.

[2016-04-18 12:40] andreasohlund commented on #202
Is it all v3 users or is it v3 combined with v6?

[2016-04-18 13:04] SzymonPobiega commented on #202
@andreasohlund corrected.

[2016-04-18 13:18] andreasohlund commented on #202
Flagged as v6 after talking to @tmasternak and  @danielmarbach

Doesn't seem to be a blocker for beta since it's a combo of callbacks + different versions of the transports.

@SzymonPobiega since we're not going to do this right away can you make sure that there is enough info in the issue so that we can pick this up later?

Should we raise a plat dev issue or a new issue in rabbit to track that f

[2016-04-18 13:26] SzymonPobiega commented on #202
@andreasohlund callback receivers are enabled in V2 by default so this thing would blow up whenever you want to reply to a message sent by V2 endpoint. I think it would be worth addressing before we give people V3 and they upgrade some of their endpoints to notice their audit messages are sent elsewhere.

[2016-04-18 14:44] danielmarbach commented on #181
@andreasohlund technically not much. The collections are dedupped in memory and usually pretty small.

[2016-04-18 23:18] johnsimons commented on #181
So it seems all the testing has been completed by @SzymonPobiega. Anything else or can this one be closed ?

[2016-04-19 06:40] SzymonPobiega commented on #181
@johnsimons yeah. The only thing that's left is my retrospective node. I'll do it now and I am closing this one.

[2016-04-19 11:43] andreasohlund commented on #202
Ok, so this would cause issues even if the callbacks are not used. That seems like a beta blocker to me then? cc @Particular/tf-v6-launch-plat-dev

[2016-04-19 11:46] ramonsmits opened #203 "PurgeOnStartup can result in timeout"
When PurgeOnStartup is set to true a normal `DELETE FROM` is executed:
- https://github.com/Particular/NServiceBus.SqlServer/blob/develop/src/NServiceBus.SqlServer/Queuing/Sql.cs#L7

This can result in a timeout exception when the table contains a large set of records.

Consider using a TRUNCATE statement instead or a bounded DELETE FROM a large set of messages will not result in a timeout excepti

[2016-04-19 11:55] ramonsmits opened #204 "Receiving concurrently more than Default Max Pool Size of messages results in exception."
## Reproduction

In V3 of the transport when sending and/or receiving more than 100 (which is default size of SqlConnection pool) messages concurrently the connection pool size reaches it's limit which results in exceptions being thrown.

## PoA

* [x] When connection string is configured via `ConnectionString` during initialization of the transport check if `Max Pool Size` is set or if pooling is

[2016-04-19 12:33] danielmarbach commented on #202
But the fix should be simple right? we could just check for the presence of audit headers and the not do it.

[2016-04-19 18:05] ramonsmits commented on #203
Based the behavior the exception message is strange too:

Probably should be something like:

[2016-04-20 07:52] MarcinHoppe commented on #203
Alternatively we could fallback to batched `DELETE TOP`. This would make it easier on the transaction log than an unbounded `DELETE`.

[2016-04-20 07:58] mauroservienti commented on #203
The problem I see with `PurgeOnStartup` and why it should be a non supported feature, and it gets more dangerous if implemented with batched deletes, is that it does not take into account in-flight messages:

* the endpoint is off
* the Q contains 100 messages
* the endpoint is configured to `PurgeOnStartup`
* when the endpoint starts up the purge operation starts
* at the same time messages are c

[2016-04-20 08:06] MarcinHoppe commented on #203
Could this be solved by querying for the oldest `RowVersion` before purging starts and using this in the `WHERE` clause of the `DELETE TOP` statement?

[2016-04-20 08:15] mauroservienti commented on #203
Sure, that's an option.

[2016-04-20 08:25] MarcinHoppe commented on #203
So it's technically feasible but as I understand it, the question whether we want to support purge on startup if the transport doesn't support it natively remains?

[2016-04-20 11:24] tmasternak commented on #202
@danielmarbach yes I think that the fix should be relatively simple.

The approach we considered is to make `ReceiveStrategy` substitute the header. It would allow us to keep the code fully internal to transport seam and would give consistent view to any extension point used by the user i.e. no matter where in pipeline they would tap in form user code perspective the header would always have the s

[2016-04-20 11:35] tmasternak commented on #203
This behavior is the same in v2 and v3 of `SqlTransport` - both are executing unbounded `DELETE FROM` statement. Do we have any clients complaining about that?

When it comes to permissions (I might be wrong here) I don't think we are recommending running the endpoints with elevated permissions. Those should be only used during endpoint installation, right?

/cc: @ramonsmits

[2016-04-20 11:45] tmasternak commented on #204
I think that we need to clearly define a goal when resolving this one. I think we can do only best-effort approach. Here are some reasons
 * We are able to figure out only the configured limit for receiving. `ConcurrencyLimit` does not prevent users from sending more messages concurrently outside of handler
 * We are able to do only the guestimation to check if the MaxPoolSize has a proper value.

[2016-04-20 12:57] SzymonPobiega commented on #181
Now that #205 is closed, I can properly close this one. I'll add retro entry mentioning the failure.

[2016-04-20 12:57] #181 closed

[2016-04-20 12:59] SzymonPobiega opened #206 "Re-consider separating legacy dispatch code"
When implementing https://github.com/Particular/NServiceBus.SqlServer/issues/181 we failed to take the legacy dispatcher into account. Should we try to find some other way to separate the legacy-compliance concern without having a separate class?

[2016-04-20 13:10] tmasternak commented on #206
Let me give the arguments for having `Legacy` classes (not only Dispatcher) in the first place the have a proper context:
 * LegacyMultiInstanceMode is legacy :P and moving code responsible for implementing it should make it easy to remove them in v4 of SqlServer transport
 * The key distinction between any Legacy and NonLegacy counterpart classes, is that for Legacy-type logic, transport address

[2016-04-20 17:04] mauroservienti commented on #203
I suspect that very few customers utilize this feature other than on dev boxes.

:+1:

[2016-04-20 22:24] SimonCropp commented on #203
i know when i was building NSB apps i was too scared to put PurgeOnStartup anywhere near the production code base. a refactor or someone testing a debug build (in the case of an `Ifdef debug`) and it is message loss.

So i had an explicit unit test that cleared the messages on my dev box. And created an exe tool that we could run on demand in test/integration environments, for the rare case that i

[2016-04-21 08:10] tmasternak commented on #206
Having all above in mind my first observation would be that in current design we failed to identify parts that will change for the same reasons. In this particular case the way we dispatch messages both for `Legacy` and `NonLegacy` mode.
It might be so that we should use composition to extract the common (read: changing for the same reasons) parts.

[2016-04-21 08:12] tmasternak commented on #203
I think we have all the context that is needed to tackle this one in the future. I propose to consider this triaged and get back to it for minor release of V6.

Thoughts?

[2016-04-21 19:11] SzymonPobiega commented on #206
PR opened #209 . Closing.

[2016-04-21 19:11] #206 closed

[2016-04-22 13:24] danielmarbach opened #213 "Unhandled Exception: System.ObjectDisposedException: Cannot access a disposed object."
When I try to send with to producers into the same Sql Azure Database the endpoints crash with the following exception:

[code]

I tried to wrap the sends with

[code]

It doesn't help

[2016-04-22 15:23] danielmarbach opened #214 "Receive Performance with higher latency can be increased with parallelism"
I still do not grok this issue entirely. So please bear with me.

I found out that if we receive in parallel (on my machine with 8 threads, more doesn't help) we can get much higher throughput especially in higher-latency scenarios.

[code]

[code]

I couldn't explain why, that's why I started digging a bit deeper. I first suspected the [queue count peek](https://github.com/Particular/NServiceBus.

[2016-04-22 22:12] danielmarbach commented on #214
I got a [PR lined up](https://github.com/Particular/NServiceBus.SqlServer/issues/215) which fixes this.

[2016-04-25 08:07] #214 closed

[2016-04-26 09:13] SzymonPobiega opened #217 "Investigate cause of receive performance drop around 8KB message size"
During #211 we observed a strange behavior related to receive throughput as a function of message size:

[code]

Something strange happens around 8KB

[code]

and it does only affect the receives. A working theory is that this is related to the 8KB page size used by SQL Server. When the whole message row fits in a single page (7KB body + some headers), the receive takes significantly longer. In fa

[2016-04-26 09:14] SzymonPobiega commented on #217
@danielmarbach @tmasternak here's a puzzle. @petersgiles @ramonsmits @mauroservienti you are our precious SQL experts, please take a look and see if it makes sense.

[2016-04-26 09:31] SzymonPobiega commented on #217
Seems like storing the body outside of the row actually increases the performance (which to me, a SQL Server noob, seems contrary to the common sense). After executing

[code]

the 8KB boundary send-receive looks like this:

[code]

which, for 7KB messages is almost three times faster. Notice also slight increase of send time.

[2016-04-26 16:07] ramonsmits commented on #217
@SzymonPobiega What kind of storage is this? Do you have some code to pull?

[2016-04-27 06:51] SzymonPobiega commented on #217
Storage? Not following. I am using SQL express on my local machine for now.  In #211 there is a performance test in the unit tests folder that shows the problem.

[2016-04-27 07:15] SimonCropp commented on #202
possible repro https://github.com/SimonCropp/Bugs/tree/master/SqlVersionInCompat

@SzymonPobiega is looking into it to confirm

[2016-04-27 09:19] SzymonPobiega commented on #202
@SimonCropp yes, the repro is OK.

[2016-04-27 09:23] SzymonPobiega commented on #202
FYI I've updated the issue description.

[2016-04-27 09:40] SimonCropp commented on #202
@SzymonPobiega ok in that case i will attempt to create a test for it and fix tomorrow.

[2016-05-04 09:49] #202 closed

[2016-05-09 01:20] SimonCropp commented on #189
should we fix the namespaces and assembly name to match this https://github.com/Particular/PlatformDevelopment/blob/master/designprinciples/nservicebus/namespaces.md  ?

[2016-05-09 06:34] tmasternak commented on #189
@SimonCropp Yes. We should do it as part of /Particular/PlatformDevelopment#732. I think that we should:
 * remove `s` from namespaces and assembly name
 * rename projects to mach the conventions

[2016-05-09 06:37] danielmarbach commented on #189
Agree this is a good opportunity to do it as part of the major release

[2016-05-09 10:45] tmasternak opened #225 "Investigate performance of sending in v2 and v3 in end-to-end scenario"
## Context
In send only benchmarks **when hosted in console app** we observed ~%40 performance drop in v3 when compared to v2. This has not been observed when running the same benchmarks with NUnit test runner.

We need to make sure we know what is the root cause of such behavior - this might result in different guidelines for user who will be doing self-hosting in NServiceBus v6.

/cc: @SzymonPob

[2016-05-10 05:17] SzymonPobiega commented on #99
@kanpal We've released beta version of SQL Server transport for NServiceBus 6 https://www.nuget.org/packages/NServiceBus.SqlServer/3.0.0-beta0001. It contains rewritten scheduling algorithm that should respond better to bursts in load.

[2016-05-11 09:16] danielmarbach commented on #102
I think this is very dangerous. We open up a can of worms which we can no longer contain.

[2016-05-11 09:20] MarcinHoppe commented on #102
I agree with @danielmarbach. It seems to me, however, that the issue keeps popping up again and again.

I think we should consider forming a TF to discuss pros and cons, make a decision and document it properly.

[2016-05-11 09:45] SimonCropp opened #229 "Expose the strong type connection construction"
exposed the creation of the connection as config through passing a delegate to code api.

So this give them full code access to every settings via a strong typed API https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlconnection_properties(v=vs.110).aspx

[2016-05-11 18:17] kanpal commented on #99
@SzymonPobiega Thanks. We'll check it out. I assume this will require us to move to NServiceBus v6.00, which in turn requires .NET framework 4.6.1? Trying to understand the minimum requirements.

[2016-05-11 18:52] SzymonPobiega commented on #99
@kanpal  NSeriveBus 6 requires .NET 4.5.2

[2016-05-12 11:15] tmasternak opened #231 "Improve performance of sql statements using No Count On"

[2016-05-12 11:16] tmasternak opened #232 "Simplify ReceiveStrategy logic"

[2016-05-17 09:02] tmasternak opened #234 "Optimize queue peeking"
Connects to #233

[2016-05-17 09:06] tmasternak opened #235 "Evaluate In-Memory OLTP"
Let's figure out if we can take advantage of `In-Memory OLTP` feature in `SqlServer` transport. We should probably check if:
 * Transport runs correctly on top of `In-Memory OLTP`
 * We get some performance gains
 * The behavior is the same on `Azure` and `On-premise`

[2016-05-17 09:08] tmasternak opened #236 "Add ATT results to GitHub branch build status"
Currently the build status shown on GitHub branch page shows only compilation result and unit test results. It does not show ATT results which might lead to accidentally merging changes that does not pass all the tests

[2016-05-17 09:09] tmasternak opened #237 "Evaluate moving `Backwards Compatibility` tests from EndToEnd to `NServiceBus.SqlServer`"

[2016-05-17 09:12] tmasternak opened #238 "Re-design MesagePump"
Current implementation of `MessagePump` mixes at least two different responsibilities:
- constructing infrastructure for receiving messages
- coordinating message receiving

We should try splitting those two aspects into separate classes.

[2016-05-17 09:15] tmasternak opened #239 "Automate baseline performance tests"
We should automate the tests created by @danielmarbach [see](https://github.com/danielmarbach/NServiceBus.SqlServerPerf). The end goal is to have simple baseline test that we can run to evaluate changes done that should increase performance. The automation can end up with merging what we have into `EndToEnd` tests.

[2016-05-17 11:06] tmasternak opened #240 "Setup SqlServer docs sample on top of SQL CE 4.0"
The goal of this spike is to check if there is possibility to run `docs.particular.net` samples with `SqlServer` on top of `SQL CE 4.0` that would allow zero-configuration experience for users trying out `NServiceBus`.

/cc: @SimonCropp

[2016-05-19 18:16] kanpal commented on #99
@SzymonPobiega - I hate to tell after hours of struggling the latest v6 with Sql v3 to work, the system suffers from the same adaptive algorithm bug as before. Plus the module is very unstable.

[2016-05-19 19:00] tmasternak commented on #99
@kanpal can you give us more details about the problematic behavior that you are experiencing? Are you referring to adaptive algorithm that adjust the number of receivers? What kind of stability problem do you experience?

[2016-05-25 07:34] tmasternak opened #241 "Update NUnit to version 3"
Connects to: https://github.com/Particular/PlatformDevelopment/issues/792

[2016-05-25 14:16] #241 closed

[2016-05-30 13:44] tmasternak opened #246 "Support Serializable transaction isolation level"
Due to the usage of `READPAST` query hit currently `V3` does not support `Serializable` isolation level.

The outcome of this issue is draft of PoA to fix the bug

[2016-05-30 13:45] tmasternak opened #247 "Transport supports only Read Committed isolation level"
Due to the usage of READPAST query hit currently V3 does not support Serializable isolation level.

[2016-05-30 13:47] tmasternak opened #248 "QueryPeeker fails with long running message handlers"
Due to the fact that read from the queue puts lock on the table row, `QueuePeeker` is not able to do the count query (because the count does lock on the whole index).

### Possible Solutions
- Add `(nolock)` hit to count query
- Add `READPAST` hit to count query

### Approach taken
Change proposed in `PR` adds `READPAST` hint to `Select` query. It enables skipping row that has been  locked when re

[2016-05-30 14:12] tmasternak opened #249 "Add a log statement when QueuePeeker goes to sleep due to 0 messages received"
[Relevant code](https://github.com/Particular/NServiceBus.SqlServer/blob/develop/src/NServiceBus.SqlServer/Receiving/QueuePeeker.cs#L29).
We should probably move sleep to `MessagePump` as it makes the behavior more apparent.

Thanks @ramonsmits for suggestion!

[2016-05-31 22:59] johnsimons commented on #180
Should this include ServiceControl changes too ? So anyone that currently hacked SC to make it work, they need to revert ?

[2016-05-31 23:00] johnsimons commented on #180
Does this include backwards compatibility, hot migrations, ... ?

[2016-06-01 05:04] johnsimons commented on #180
Also, how does this new setup align with the ADSD guidelines ?

[2016-06-01 05:08] mauroservienti commented on #180
which ADSD guidelines?

[2016-06-01 05:25] johnsimons commented on #180
multiple databases

[2016-06-01 05:25] johnsimons commented on #180
shared error and audit queue

[2016-06-01 05:59] indualagarsamy commented on #139
Currently we have users who use the multi-instance / multi-catalog support.
@Particular/sqlserver-transport-maintainers - Please review this case https://nservicebus.desk.com/agent/case/18278 and answer the user.

[2016-06-02 06:55] tmasternak commented on #229
We should make sure that the new api looks as similar to other parts of the code e.g. NHibernate persistence.

[2016-06-02 06:57] SzymonPobiega commented on #229
@SimonCropp did you mean a builder-type of API for creating connection without the need to use connection *string*?

[2016-06-02 06:59] SimonCropp commented on #229
not really a "builder-type of API". just a func that returns a sqlconnection. they then have full control over it

[2016-06-02 07:05] tmasternak opened #251 "Enhance the out-of-the-box performance for sending many messages outside of the handler"
### Problem

If we send a lot of messages outside of the handler the performance of the handler the performance drops significantly. If the user throttles the sends via e.g. semaphore the number of messages sent is better.

### Solution

Current situation this is the consequence of async/await programming model that we introduced in Core. It could potentially be solved by `IMessageSession` enhance

[2016-06-02 07:31] tmasternak commented on #189
This one is done

[2016-06-02 07:31] #189 closed

[2016-06-02 07:32] tmasternak commented on #213
@danielmarbach can was trying to reproduce by failed. Can you share the code?

[2016-06-02 07:36] tmasternak commented on #229
@SimonCropp which method from [here](https://github.com/Particular/NServiceBus.SqlServer/blob/develop/src/NServiceBus.SqlServer/SqlServerTransportSettingsExtensions.cs) did you have in mind? Or is it some other place?

[2016-06-02 08:05] tmasternak commented on #125
Closing this one. We have a test suite in https://github.com/Particular/EndToEnd/tree/master/src/PerformanceTests

[2016-06-02 08:05] #125 closed

[2016-06-02 08:14] SimonCropp commented on #229
@tmasternak damn i did not see that one

[2016-06-02 08:14] #229 closed

[2016-06-03 02:32] mikeminutillo commented on #180
For existing V2 users, shouldn't we have guidance around why to avoid Multi-Instance? We can talk about the difference between *the database* and *the broker*. In the case of SQL Transport it just so happens that the broker is also a database.

If a customer was architecting a system with Rabbit. They would be unlikely to have a separate rabbit broker per project and then try to connect them (woul

[2016-06-03 08:00] tmasternak commented on #180
I agree that we have to very explicit about distinguishing between SQL Server used as business data storage and transport mechanism.

All though I would agree with the Rabbit case I can see users comparing SQL Server to MSMQ and treating it more like store-and-forward messaging technology.

[2016-06-03 12:25] MarcinHoppe commented on #180
... and then there's also SQL Server backing NHibernate persistence, making it so much more fun overall. I think a document "How to architect an NServiceBus system with SQL Server" would be a very welcome addition to our doco.

[2016-06-03 21:58] johnsimons commented on #180
@tmasternak we should have a meeting about this first thing Monday to get it sorted

[2016-06-03 22:03] johnsimons commented on #180
Just to add more to what @mikeminutillo said, I see the schemas being an important part here, those are the equivalent of vhosts in rabbit or namespaces in azure, that is how user achieve "separation".
And the error and audit would probably leave in the default dbo.

[2016-06-06 07:10] SzymonPobiega commented on #180
@mikeminutillo I would add "use outbox for exactly-once processing" in such a guidance.

We acknowledge that SQL Server transport uses the broker model. Also, if, in future, we decide to properly add federation support to that transport, we will do it as transparently, as possible, via something like RabbitMQ's shovel. Still, the idea here would be not to have a broker node per endpoint, but per s

[2016-06-06 07:29] #248 closed

[2016-06-06 12:15] SzymonPobiega commented on #180
I've created an initial draft [here](https://github.com/Particular/docs.particular.net/pull/1579)

[2016-06-08 09:51] tmasternak opened #253 "Clarify documentation around dropping multi-instance"
Items to update:
 - [x] Add a note about removing multi-instance support with Outbox in v3 to deployment-options.
 - [x] Remove promise about supporting multi-catalog in Version 4

[2016-06-08 11:31] ramonsmits commented on #180
I would like to be part of the taskforce to verify the availability groups concept as a replacement for multi-instance support. I know that @mauroservienti was interested in creating such a lab environment. Who else? What is the priority to validate this concept?

[2016-06-09 08:46] #253 closed

[2016-06-10 10:30] SzymonPobiega opened #255 "Make accessing the transport connection easier"
In V2 we used to have a [helper class](https://github.com/Particular/NServiceBus.SqlServer/blob/master/src/NServiceBus.SqlServer/SqlServerStorageContext.cs) that exposed the connection on the handler level. I think we don't have a similar thing in V3. The user would have to get the `TransportTransaction` from the handler context and then extract the connection from that transaction.

Should we pro

[2016-06-10 10:30] SzymonPobiega commented on #255
@Particular/sqlserver-transport-maintainers what do you think?

[2016-06-10 10:42] SzymonPobiega commented on #255
After discussing this with @MarcinHoppe we agreed this API should be discarded. I'll close the issue when the upgrade guide is updated.

[2016-06-10 11:21] MarcinHoppe opened #256 "V3 does not throw QueueNotFoundException when destination table queue does not exist"
### Original V2 behavior ###

When V2 of the transport couldn't insert message row into the destination queue table because the table did not exist, it threw `QueueNotFoundException` which was the handled by the core.

### Current V3 behavior ###

V3 does not detect that row insert failed because the table did not exist and allows for the generic `SqlException` to bubble up to the core, where it i

[2016-06-10 11:37] SzymonPobiega commented on #256
Resolved in #258

[2016-06-13 08:09] MarcinHoppe opened #259 "Make ATTs use SQL Server default instance instead of named SQLEXPRESS instance"
### What is the problem?

Currently ATTs rely on a local SQL Server instance named SQLEXPRESS to be present. If I would like to run the tests against a different edition of SQL Server (e.g. Developer Edition), then the only way out is to install a named instance called SQLEXPRESS, which is misleading at best.
### How to fix it?

I suggest we change ATTs to rely on default instance of SQL Server on

[2016-06-14 15:56] kanpal commented on #99
@tmasternak First of all, we dont see any improvement in the adaptive algorithm, in other words we still see the same issue where it does not pick up the messages at peak load (same original problem). Second of all, the upgrade from v5 to 6 didn't go smooth. I had to start the project from scratch.

[2016-06-16 05:53] tmasternak commented on #180
Status
We close to being done with guidance [document ](https://github.com/Particular/docs.particular.net/pull/1579). We need to sync with @sfarmar and make sure we is fine with the content.

[2016-06-16 08:04] tmasternak commented on #99
@kanpal Adaptive algorithm has been removed in V3 of SqlTransport (version that runs with V6 of Core). Can you share more information/code about the problem so that we can reproduce it?

[2016-06-16 10:01] sfarmar commented on #180
I've reviewed and added some comments, be happy to go on a call and discuss if needed

[2016-06-17 08:50] #256 closed

[2016-06-17 11:49] MarcinHoppe opened #263 "Canonical representation of queue address within the transport"
The queue table address consists of a table name and a schema name. As it stands today, both components are passed around in quoted or unquoted form, depending on requirements.

The goal of this refactoring is to settle on a canonical representation of the queue table address within the transport and be explicit about formatting it properly on the edges of the transport, e.g. when creating SQL sta

[2016-06-20 11:40] ramonsmits opened #264 "Multi instance connection provider callback"
### Problem

The callback is called for satellites / subqueues too. This has the result that a satellite queue can use a different connection than the endpoint queue. This even works in V3 as the current version of the multi-instance sample demonstrates but in V2 accessing a satellite queue seem to result in using the connection that is used for the endpoint.

The string value passed to the callba

[2016-06-20 11:47] tmasternak commented on #264
@Particular/sqlserver-transport-maintainers For v3 we can consider changing [multi-instance connection factory](https://github.com/Particular/NServiceBus.SqlServer/blob/develop/src/NServiceBus.SqlServer/Legacy/MultiInstance/LegacySqlConnectionFactory.cs#L14) and pass `transportAddress` in a more structured way e.g. tableName + schema. I'm not sure we can make this a lot better though.

[2016-06-20 11:53] MarcinHoppe commented on #264
I think this connects to #263. We would probably need to extend this to support multi-catalog in the future?

[2016-06-20 12:40] ramonsmits commented on #264
@MarcinHoppe I don't know if it connects. Well, it depends, if you would just consider that the argument only identifies a logical endpoint then it should not included any meta data and if you would look it from the other end then it should contain:

* catalog
* schema
* table
* endpoint
* satellite
* endpoint discriminator

[2016-06-21 08:18] tmasternak opened #265 "Measure performance gains from using InMemory OLTP"
Connects to #https://github.com/Particular/V6Launch/issues/67
## Plan of Attack [DRAFT]
- [x] Setup PoC envrionment
- [x] Perform tests
- [ ] ~~Update guidance doco~~
- [ ] ~~Create draft of the story~~

## Results
The tests performed as part of the spike consisted of measuring performance for operations characteristic for current SqlServer transport i.e. inserts of rows representing a message (on

[2016-06-21 08:20] tmasternak opened #266 "Measure performance gains from using separate file groups for hot queues"
Connects to #https://github.com/Particular/V6Launch/issues/67
## Plan of Attack [DRAFT]
- [ ] Setup PoC envrionment
- [ ] Perform tests
- [ ] Update guidance doco

[2016-06-21 08:21] tmasternak opened #267 "Setup Availability Groups feature to provide HA for Sql Transport"
Connects to #https://github.com/Particular/V6Launch/issues/67
## Plan of Attack [DRAFT]
- [ ] Setup PoC envrionment
- [ ] Perform tests
- [ ] Update guidance doco

[2016-06-21 08:23] tmasternak opened #268 "Setup mulit-catalog deployment with Linked Servers with Sql Server"
## Goal
Validate if that is a valid option to provide multi instance deployments without need for sharing connection strings at the endpoint configuration level

## Results

### Proof-of-concept

The proof of concept consisted of a simple application that was using direct ADO.NET to send messages on my local machine between two linked SQL Server instances (2014 Express and 2014 Developer). These t

[2016-06-22 06:37] SzymonPobiega opened #269 "Use `INSTEAD OF` triggers and a shovel process to implement transparent multi-catalog"
The idea is to use views and `INSTEAD OF` triggers to create surrogate destination tables in all catalogs. These triggers would insert messages to some kind of outgoing queues (one in each database) from where the shovel-like process would take them and move to the destination table.

The views and triggers would be maintained by the shovel thing automatically. Upon detecting a new queue in one of

[2016-06-22 09:42] SzymonPobiega opened #270 "Create a AWS lab environment for SQL Server testing"
* 3 c4.2xlarge instances tagged as `SQL Lab` role: `SQL-1`, `SQL-2` and `SQL-3`
 * SQL Server 2016 Developer edition installed
 * Mixed mode authentication
 * Created a test login `testuser` in each instance. Password same as for the perf test admin account (lastpass)
 * All instances are configured as linked servers, both directions
 * Database `Test` created with table `Queue` with schema identi

[2016-06-22 09:42] SzymonPobiega commented on #270
cc @ramonsmits

[2016-06-22 10:37] MarcinHoppe commented on #270
I have not actually read it but this might be relevant:

https://aws.amazon.com/windows/resources/whitepapers/alwayson/

Have you checked if there perhaps is a ready AWS CloudFormation or Azure template we could use?

[2016-06-22 10:40] SzymonPobiega commented on #270
@MarcinHoppe nope, using bare AWS for now. I have too little experience with CF (or clouds in general).

[2016-06-22 19:41] MarcinHoppe commented on #180
It seems we can close this one? PR has been merged and other items got their separate issues.

Do we need a retrospective on this?

/cc @Particular/sqlserver-transport-maintainers

[2016-06-23 02:33] johnsimons commented on #180
Awesome doco guys, well done, really good stuff there

[2016-06-23 07:39] SzymonPobiega commented on #268
Initial tests on my local machine showed that sending to a linked server is 5 times slower than to the local database (using native transactions, no DTC). Note that both DBs were on same machine so no network latency was involved.

[2016-06-24 11:14] SzymonPobiega commented on #270
A lab with three machines has been created. Details in the issue description.

[2016-06-24 13:43] danielmarbach commented on #213
I used https://github.com/danielmarbach/SwissChocolate.Power and tweaked it with Azure SQL database

[2016-06-27 12:15] SimonCropp opened #271 "add code API for controlling QueuePeeker peek interval"
https://github.com/Particular/NServiceBus.SqlServer/blob/3.0.0-Beta2/src/NServiceBus.SqlServer/Receiving/QueuePeeker.cs#L47

propose supported range: 100ms to 10s

[2016-06-29 09:11] MarcinHoppe opened #272 "SQL injection vulnerability"
Taskforce: @MarcinHoppe @SimonCropp @dbelcham

### Vulnerability

All versions of the SQL Server transport use string interpolation to assemble queue table names. Some inputs may come from untrusted sources, for instance the `ReplyToAddress` message header. This may allow attacker to craft a message in such a way that arbitrary SQL is executed on the database.

### Impact

Attackers can use this v

[2016-07-01 08:48] ramonsmits commented on #203
Was hit by this again, this time on SQL Azure basis instance. It contained 6,000 messages where purge on startup fails and resulting in the endpoint to not start.

I had to manually delete them via the SQL manager which took 46 seconds.

[2016-07-01 09:00] ramonsmits commented on #203
even though truncate requires more permissions it might be an option in a lot of environments. Why not make this purge strategy selectable?

[code]

[code]

[2016-07-04 15:44] danielmarbach opened #274 "Id column suffers from fragmentation due to uniqueidentifier usage"
I know we left the `Id` column as uniqueidentifier around for backwards compatibility reasons. The problem is that this column creates fragmentation especially when used in combination with indexes. For deletes we include `Id` in the index. Which is suboptimal.

https://blogs.msdn.microsoft.com/sqlserverfaq/2010/05/27/guid-vs-int-debate/

There are multiple things we could do:
- Use sequential GUI

[2016-07-05 09:29] MarcinHoppe commented on #272
All downstream PRs have been merged. Closing.

[2016-07-05 09:29] #272 closed

[2016-07-14 09:35] #249 closed

[2016-07-20 02:03] ppittle opened #280 "Endpoint Queue Table Not Created - 3.0.0-beta0003"
I'm using [NServiceBus SqlServer 3.0.0-beta0003](https://www.nuget.org/packages/NServiceBus.SqlServer/3.0.0-beta0003) to build a Test Harness where
I start several endpoints.  Most of them start correctly and I can see message traffic.  However, one of them appears to start then starts throwing `SqlException (0x80131904): Invalid object name 'dbo.WhatTimeIsItJob-Q'` exceptions from `ExpiredMessage

[2016-07-20 06:31] MarcinHoppe commented on #280
@ppittle Thanks for reporting this. Can you post the configuration code for the endpoint that causes this behavior?

[2016-07-20 20:33] ppittle commented on #280
@MarcinHoppe - Hear's the code.  I use the same configuration for multiple endpoints and they all work fine, so not sure what's special about the one that's failing.  And not sure if this should matter, but I'm using SQL Express against a local db file as well:

[code]

[2016-07-21 09:19] MarcinHoppe opened #281 "Add missing routing API for multi-schema topology"
taskforce: @tmasternak
chicken: @SzymonPobiega
slack: **#tf-sql-schema-routing**
skills-needed: v6 routing knowledge (preferably original TF member), sql server knowledge (preferably maintainer)

### What is the problem?
The routing mechanism is undergoing an [overhaul](https://github.com/Particular/V6Launch/issues/68) before the V6 launch. One of the [changes](https://github.com/Particular/NServi

[2016-07-21 09:36] timbussmann commented on #281
the approach with using `EndpointInstance` would currently not work, for that we should support a RouteToInstance (let's ignore the naming for now) on the `UnicastRoutingTable`. For now the problem would have to be fixed using `UnicastRoutingTable.AddByAddress(..)` which allows string containing @ and bypasses client-side distribution (the downside of that approach). Essentially, SQL transport wou

[2016-07-21 13:08] MarcinHoppe commented on #280
@ppittle What is the endpoint name (`queueName` argument) that you are passing for the endpoint that exhibits the failure? Does the starting the endpoint succeed?

[2016-07-22 01:14] ppittle commented on #280
`queueName: "WhatTimeIsItJob-Q"`

Below is a screenshot of the database showing several other queues being created.

They all run through the same configuration.

As far as I can tell, calling `Start()` doesn't throw an exception, exceution continues fine.  I don't notice there's a problem until I try to send a message to the `WhatTimeIsItJob-Q`.

![image](https://cloud.githubusercontent.com/asset

[2016-07-25 07:58] tmasternak opened #284 "Incorporate struct best-practice testing test from Core"
We want to have a Rosylin Analyzer that would perform check done by test: https://github.com/Particular/NServiceBus/pull/3963.

[2016-07-25 09:33] tmasternak opened #285 "Decide if we want to revert reading messages with expired where statement"
After talking with @MarcinHoppe  I think that merging of https://github.com/Particular/NServiceBus.SqlServer/pull/233 was premature on my end. There are some consequences that I did not realize. Depending on release schedule for Beta2 we might want to revert the merged changes and proceed with separate issue that will include testing to understand the performance consequences.
Here are the list of

[2016-07-25 09:37] tmasternak commented on #285
One additional comment to explain why I think the `delete-on-peek` is safer than the merged solution from @danielmarbach. I think it the case because there is no scenario in which we are executing sql statements that delete more than one row at once.

[2016-07-25 09:39] MarcinHoppe commented on #285
@tmasternak Except for the expired messages purger, of course :).

[2016-07-25 09:45] danielmarbach commented on #285
Many of these implications already existed before my PR.

For example

Problem before

Problem before because purging depends on it.

Problem before since you cannot assume that peeking will always be able to cope with the inserts

The only question of relevance for the merged PR is:

[2016-07-25 11:11] tmasternak commented on #285
@danielmarbach I disagree.

With previous approach scenarios 1, 2 and 3  you quoted were irrelevant/non-existing. When we did deletes with receive the assumption was that, apart from temporary spikes, deletes issued as part of receives would keep up with the pace at which expired messages would arrive. **That would result in `Purger` being effectively idle.**

In scenario 2 the question is: "How c

[2016-07-25 11:18] danielmarbach commented on #285
Yeah and I'm saying these assumptions are wrong. Let's discuss ;)

[2016-07-26 09:25] MarcinHoppe commented on #280
@ppittle I tried to reproduce the issue with SQL Server 2014 Express LocalDb and the callbacks but it worked just fine on my machine and the queue tables were created successfully.

Can you share a debug level log from the startup of the `WhatTimeIsItJob-Q` endpoint when there are no queue tables for this endpoint in the database?

Also, could you post a connection string (of course with all sensi

[2016-07-26 09:46] MarcinHoppe commented on #280
Did you manage to have a standalone reproduction of the issue? That would be ideal.

/cc @SeanFeldman

[2016-07-27 09:41] ppittle commented on #280
@MarcinHoppe - I was able to isolate the problem.  I'll send you more details tomorrow, but essentially it's a Container issue:

[code]

If I start `endpoint1` first and then `endpoint2` it blows up with exceptions listed above.  If I start `endpoint2` first, it's ok.  If I only set a container on one of the endpoints it's ok.

I originally built the system against the Azure Queue Transport and wa

[2016-07-27 13:38] MarcinHoppe commented on #280
@ppittle Thanks for this additional info. I can observe the same behavior now.

To me, the best solution would be for reach endpoint to have its own child kernel. Your bindings would still be set on the parent kernel.

I tested such a setup and it worked fine. Is this an option you can consider?

[2016-07-29 08:25] tmasternak commented on #285
After discussion with @MarcinHoppe  and @danielmarbach we decided that the current approach (introduced by @danielmarbach) should be kept as is and only when we see problems when doing EndToEnd tests before RC release we might want to revert them.

The biggest argument for keeping the change is the fact that we optimize for meaningful reads (the message is not expired) and we do not transfer the d

[2016-07-29 08:25] #285 closed

[2016-08-01 06:59] MarcinHoppe commented on #280
@ppittle Did you have any chance to try out the child-kernel-per-endpoint approach? Please let me know if I can be of help.

[2016-08-01 20:10] ppittle commented on #280
@MarcinHoppe - Sorry.  Yup implemented Child Kernels everywhere and I'm all good.  We can close this up.  Thanks for the help.

[2016-08-01 20:10] #280 closed

[2016-08-02 06:18] MarcinHoppe commented on #280
@ppittle No worries. It's great to hear that the solution worked for you!

/cc @SeanFeldman

[2016-08-07 14:54] janpieterz opened #286 "SQL Connection Pool seems to max out often"
I've been using this, running on a hosted Azure SQL. It seems to quite often run out of its connections. I have been making more and more code changes to look for ways I am contributing to it, and as far as I know (using one SqlConnection in mode ```DependencyLifecycle.InstancePerUnitOfWork```) I should hardly be. Besides that I don't really use any SqlConnection, but I do use NServiceBus NHiberna

[2016-08-08 12:43] MarcinHoppe commented on #286
@janpieterz Thanks for reaching out.

We definitely take the Azure SQL Database into account. The Azure SQL Database service has a throttling mechanism to cope with excessive resource consumption and it may happen that after exceeding a resource usage limit for a particular service tier and performance level you might encounter database connection problems.

What is the exact error / exception tha

[2016-08-08 12:44] MarcinHoppe commented on #185
We should also be running ATTs against Azure SQL Database from time to time.

[2016-08-08 13:08] janpieterz commented on #286
Hi @MarcinHoppe , Good to know it's being taken into account.

Error messages I received certainly indicate max pool size being reached:
[code]
Oddly though, there was hardly anything happening from my side (one connection per UnitOfWork) and only NHibernate Persistence and SqlServer Transport running. It was running on a relatively small db (S0). It seemed to happen only after a while too, so alm

[2016-08-09 13:56] MarcinHoppe commented on #286
@janpieterz Do you have a full stack trace for this exception?

Also, did you modify the connection pool size in any way or are you using the default 100 connections?

Connection pool size can be adjusted using `Max Pool Size` and `Min Pool Size` connection string parameters. Have you tried adjusting these?

[2016-08-10 06:12] janpieterz commented on #286
Sure! Added them below.
I thought (possibly incorrectly) that Azure Max Pool size for these S0 insances is even lower than 100, so didn't bother changing them at the time (there was of course the urge to get it sorted ASAP).

If below exceptions don't give you more info (they just seem to signal that it is wrong, to me), I'll try and knock a repro up. It almost seems to me like there is a 'connect

[2016-08-10 13:51] MarcinHoppe commented on #286
@janpieterz Some of these stack traces represent exceptions that have been thrown during transaction rollback. This is something we are aware of and that is fixed now on the release branch. We will release a bug fix for this in 3.0.0-beta0004 build (due soon).

As to the connection pool limits, a reproduction would be a huge help.

[2016-08-11 06:44] MarcinHoppe commented on #270
@SzymonPobiega IIUC this has been completed. Can we close?

[2016-08-11 08:50] #270 closed

[2016-08-11 11:34] MarcinHoppe opened #287 "Log empty input queue on DEBUG log level"
### What is the problem?

Idle endpoint produces a lot of INFO level log entries even if now messages are processed. This provides zero added information and introduces a lot of noise in the log files if there is very little incoming traffic.

### What to do about it?

Change logging level on this line:

https://github.com/Particular/NServiceBus.SqlServer/blob/release-3.0.0/src/NServiceBus.SqlServ

[2016-08-12 09:36] MarcinHoppe commented on #287
Resolved by #288

[2016-08-12 09:36] #287 closed

[2016-08-18 09:25] MarcinHoppe commented on #286
@janpieterz We have just released 3.0.0-beta0005 to NuGet that should alleviate the throw-on-rollback problem (triggering the circuit breaker instead of a retry).

If you need help in upgrading, just let me know.

[2016-08-18 09:33] janpieterz commented on #286
@MarcinHoppe cheers for the heads up! I was already running on beta0005 since 15-08 from the Particular MyGet feed (https://www.myget.org/F/particular/).
Are there changes compared to that one on the particular feed? We've for this one changed the underlying storage to a self-hosted SQL but have indeed noticed improvement in connections to that one too, which is great! :)

I'll spend time next wee

[2016-08-18 11:18] MarcinHoppe commented on #286
@janpieterz The Beta5 package on the MyGet feed and now on NuGet is the same package, no differenced whatsoever.

Feel free to pull me in if you have any problems with the transport.

[2016-08-19 07:00] SzymonPobiega commented on #281
The problem with the approaches you outlined is that the schema information is usually volatile. On one environment the queues might be in one schema while in the other the schema can be different. I don't like to require to recompile the code to change the schema.

I suggest we use file-based instance mapping instead. It has all the features we need except it is not available for SQL server trans

[2016-08-19 07:11] MarcinHoppe commented on #281
@SzymonPobiega I think this is a valid point. I'd just like to make sure we have an easy to use code API for customers that use a fixed schema for each endpoint (and use different catalogs / instances for different environments).

[2016-08-19 10:36] SzymonPobiega commented on #281
I would do something like this:

[code]

but unfortunately we moved the `Endpoint` class (first from the public API, then entirely from the codebase) so there is no way for the transport to extend it in such a way.

[2016-08-19 11:04] MarcinHoppe commented on #281
Something along these lines. Can we tackle this issue now? Do we need a TF?

This is something we need to complete before RC, IMO.

[2016-08-19 11:32] SzymonPobiega commented on #281
I think would fall within the responsibility of the `make routing RC-ready TF`. I'll raise an issue.

[2016-08-19 11:35] MarcinHoppe commented on #281
@SzymonPobiega It should already be refenced from the PoA in that issue.

[2016-08-19 11:37] SzymonPobiega commented on #281
Let me quickly code a PoC from the core point of view.

[2016-08-19 19:09] SzymonPobiega commented on #281
Tried adding the API for this in the core but failed with `ScopeCreepException`. How about we do it on the transport level, something like:

[code]

? We can also have some auto-scanning that populates the mapping based on a convention.

[2016-08-22 06:46] MarcinHoppe commented on #281
@SzymonPobiega I think a simple mapping like this would be a good start. I would think of a more general name to allow customization of catalog using the same mechanism in the future. Something like:

`routing.Endpoint("MyEndPoint").AtSchema("nsb").InCatalog("prod_db");`

[2016-08-22 07:17] SimonCropp commented on #281
Wouldnt that API be simplified by the use of a SqlConnection?

[2016-08-22 07:17] janpieterz commented on #286
Interestingly, just yesterday after running continuously since Friday, it started (local SQL installed) to bork up again.

Last logged message:
[code]
Windows event log:
[code]

I'm working on a repro where I hope to put all the concepts down similarly (saga with a couple of stages, other schedules etc). It might just be the case of me keeping connections open on my side somewhere and slowly leaki

[2016-08-22 07:25] MarcinHoppe commented on #281
@SimonCropp I think I failed to parse the proposal :crying_cat_face:. Can you give an example?

[2016-08-22 07:56] SimonCropp commented on #281
cant we expose some kind of sqlconnection construction since they can configure schema and catalog on the connection?

[2016-08-22 08:04] MarcinHoppe commented on #281
Even if we could do this (not sure off the top of my head), wouldn't this be far from obvious and would require a lot of explaining to our users?

[2016-08-22 16:21] janpieterz commented on #286
(for others: code and complementing data has been provided so the investigation can go a bit quicker).

On another note:
I just investigated a moment where a saga somehow stayed in exactly the same state forever, until I manually removed this. The saga always schedules a timeout, and ensures this that even if the underlying event handlers somehow never reach their return messages, it should close

[2016-08-23 12:02] MarcinHoppe commented on #286
At first glance it looks like the TimeoutManager fails to dispatch timeouts requested by the saga. This would explain your symptoms.

I will dig deeper about why this might be happening and if the connection pool problems are the cause or the effect of the problem.

[2016-08-26 06:17] MarcinHoppe commented on #268
Spike completed successfully. It is doable.

[2016-08-26 06:17] #268 closed

[2016-08-26 06:30] MarcinHoppe commented on #234
Done.

[2016-08-26 06:30] #234 closed

[2016-08-26 06:31] MarcinHoppe commented on #231
Done.

[2016-08-26 06:31] #231 closed

[2016-08-26 06:42] MarcinHoppe commented on #225
Resolved by not using VSHost.

[2016-08-26 06:42] #225 closed

[2016-08-26 06:52] MarcinHoppe commented on #128
Executed automatically as part of the EndToEnd test suite.

[2016-08-26 06:52] #128 closed

[2016-08-26 06:54] MarcinHoppe commented on #89
@SzymonPobiega @andreasohlund This is oldie. Can we close?

[2016-08-26 07:24] andreasohlund commented on #89
fine by me

[2016-08-26 14:00] MarcinHoppe opened #291 "Survery multi-instance customers"
We need to learn what benefits they get (or wish to get) from using multi-instance topology.

[2016-08-29 05:48] #89 closed

[2016-08-29 06:09] SzymonPobiega commented on #281
Do we need a TF here or is it a maintainer prio?

[2016-08-29 06:18] SzymonPobiega commented on #255
Doco is already there: http://docs.particular.net/nservicebus/upgrades/sqlserver-2to3 so closing this one.

[2016-08-29 06:18] #255 closed

[2016-08-29 06:31] tmasternak commented on #281
@SzymonPobiega I think it would be good to have a TF on this one.

[2016-08-29 11:18] tmasternak commented on #286
@janpieterz Two potential scenarios in which your saga would not receive the timeout would be:
 * The message gets stuck in .Timeout or TimeoutDispatcher queues that are responsible processing saga timeouts. In such case you should be able to find your missing message one of those,
 * The timeout message processing failed during processing however was successfully moved to error queue. This is les

[2016-08-29 11:22] janpieterz commented on #286
@tmasternak Thanks for looking into it. I think that part of the issue is also 'solved', if it ever occurs again I'll be making 100% sure to pull a database backup right then to be able to trace what has happened and dig into the errors. There was some database shuffling so we possibly lost a message in an error queue there.

[2016-08-29 11:24] janpieterz commented on #286
Using the fix provided in https://github.com/Particular/NServiceBus/issues/4089 (manually) this is solved. I'll leave it up to you guys to decide if/when to close the issue. From my point of view, it is solved. Thanks for the help @tmasternak and @MarcinHoppe in this investigation.

[2016-08-29 11:35] tmasternak commented on #286
@janpieterz happy we could help :).

[2016-08-29 11:35] #286 closed

[2016-08-29 12:03] SzymonPobiega commented on #97
This exception actually is caused by a transaction timeout when using `TransactionScope`. Usually means the handler executes longer than 1 minute (default value) or 10 minutes (maximum value set in `machine.config`)

[2016-08-29 12:03] #97 closed

[2016-08-29 13:51] udidahan commented on #225
Does this mean that the problem was the test and that the performance is equivalent?

[2016-08-29 13:57] tmasternak commented on #225
@udidahan this problem was more about consistency of results we were getting for V6 only. It was caused by the way in which the tests were run (inside VSHost).

When it comes to performance comparison between v5 and v6:
 * In scenarios with high latency between endpoint and infrastructure (e.g. Azure) the V6 is noticeably better than V5.
 * In other test cases the performance is similar, depending

[2016-08-30 09:55] tmasternak commented on #255
@Particular/sqlserver-transport-maintainers I've removed this one from the milestone so it won't get included in Release Notes.

[2016-08-31 04:36] SzymonPobiega commented on #281
I have limited bandwidth today and tomorrow but I'll try to help as a chicken.

[2016-08-31 08:24] SzymonPobiega commented on #97
There is nothing we can do about this on our side.

[2016-08-31 09:10] HEskandari commented on #271
The suggestion at the backlog grooming session was to:

- Don't allow values less than lower bounds (here 100ms)
- For values larger than the upper bound (here 10 seconds) allow it but also log a warning message.

Do you think that would work @SimonCropp?

[2016-08-31 09:12] SimonCropp commented on #271
@HEskandari sounds reasonable to me

[2016-09-02 06:22] HEskandari commented on #271
Borht PRs for the code and doco are merged in. This can be closed now.

[2016-09-02 06:22] #271 closed

[2016-09-02 11:44] tmasternak opened #296 "Check if we should suggest native integration over sending out-side of handler for batch scenarios"
We should measure what is the difference between native integration and sending outside of a handler in case of SqlServer.

If difference is significant we might want to suggest using native integration for batch message sending scenarios.

## Plat of Attack
 - [ ] Create two versions of `nighlty job` type of application
  - [ ] It should send large number of messages in batches
  - [ ] One versio

[2016-09-05 04:04] HEskandari commented on #204
What is the scope of this? Should it be backported to v2 as well?

[2016-09-05 07:14] tmasternak commented on #204
@HEskandari this is v3 only issue. The reason is that by default in v5 of core concurrency limit is set to 1 which makes running out of connections impossible. With v6  concurrency limit defaulting to 100 the possibility of that happening **was** quite  big. The default has been [changed](https://github.com/Particular/NServiceBus/issues/4089) to be Max(2, LogicalProcessorCount).

That being said t

[2016-09-06 02:14] HEskandari commented on #204
Think we should also update all the connection strings in the snippets on [this page](http://docs.particular.net/nservicebus/sqlserver/connection-settings) to give people reading the doco the right impression.

Should I add it to the PoA?

[2016-09-06 04:37] SzymonPobiega commented on #204
:+1: for adding pool size to all connection strings in context of sql transport.

[2016-09-06 06:31] tmasternak commented on #204
I don't think it is a must to generate the warning at startup. As long as we put something in the log we should be good. In other words I think that putting the one-time check in `OpenNewConnection` of SqlConnectionFactory is good enough.

[2016-09-07 03:58] HEskandari commented on #204
@Particular/sqlserver-transport-maintainers The PR for docs changes is also submitted. Is there anything else left to do?

[2016-09-07 06:29] #281 closed

[2016-09-07 08:26] #251 closed

[2016-09-07 08:30] tmasternak commented on #204
@HEskandari all is done here :+1: . Closing

[2016-09-07 08:30] #204 closed

[2016-09-08 10:31] tmasternak commented on #213
@danielmarbach I've updated the sample to newest versions of Core [rc1] and SqlServer [beta7] and run it on Azure Sql several times but could not reproduce the issue.

[2016-09-08 10:31] #213 closed

[2016-09-13 08:53] #264 closed

[2016-09-19 13:00] ramonsmits opened #299 "SqlException (0x80131904) in QueuePeeker"
It seems a SqlException (0x80131904) can occur in QueuePeeker when the endpoint instance is shutting down. I think either the peek should complete without aborting or that the possibly resulting exception(s) should be catched and properly processed.

This both happens with a local SQL2016 DB and SQL Azure.

# Exceptions

At shutdown
[code]

Happening when doing purge at startup and then shutting d

[2016-09-19 13:29] ramonsmits commented on #299
Some additional info. When using 3.0.0-beta0005 and core 6.0.0-beta0007 and running the same code 3 times I was not able to reproduce it for SQL Server and got it 2 times during shutdown with SQL Azure.

However with current 3.0.0-rc0001 and core 6.0.0-rc0002 it seems to always happen.

Also, it might be related to a change in core as it seems I'm now always getting this exception when I purge the

[2016-09-19 13:32] MarcinHoppe commented on #299
Did you have purge on startup set when you originally encountered this?

[2016-09-19 13:37] ramonsmits commented on #299
@MarcinHoppe Not sure what your question is but the sequence it the same, just upgraded packages.

Sequence is:

- Start endpoint with purging enalbed, then stop.
- Optionally start send only endpoint for seeding, then stop after the seeding period thresshold is passed.
- Start endpoint and receive/process messages, then after a period stop.

[2016-09-19 13:48] MarcinHoppe commented on #299
My question was about the first bullet point. I have my answer now :).

[2016-09-22 08:53] tmasternak commented on #299
I've did some investigation on this one and here are my findings:
 * It looks that Ado .Net can [throw SqlException](http://stackoverflow.com/questions/18836869/sqlexception-when-canceling-async-query) when token passed to async operation has been cancelled. According to best practices an instance of `OperationCancelledException` holding reference to cancellation token should be thrown but that is

[2016-09-22 08:58] MarcinHoppe commented on #299
@ramonsmits Can you check if this resolves the problem you are observing before we merge this?

[2016-09-22 10:30] ramonsmits commented on #299
I'm just wondering, instead of catching the exception isn't the cause that something is cancelled that shouldn't be cancelled? Cancellation doesn't really reflect a graceful shutdown where you complete all current activity but don't start any new tasks.

As this is a PR I should be able to verify this with the nuget package from the build server.

[2016-09-22 11:19] MarcinHoppe commented on #269
@SzymonPobiega Are you working on this?

[2016-09-22 11:22] SzymonPobiega commented on #269
@MarcinHoppe nope. I am not working on this one right now.

[2016-09-22 11:28] #240 closed

[2016-09-22 11:31] MarcinHoppe commented on #235
Duplicate of #265

[2016-09-22 11:31] #235 closed

[2016-09-22 11:32] #232 closed

[2016-09-22 11:57] #53 closed

[2016-09-22 12:20] MarcinHoppe commented on #6
@mauroservienti @ramonsmits @andreasohlund @tmasternak @johnsimons I'm calling out all the people who chimed in on this issue:

Do you still think we should have this discussion? If you do, please comment here.

If not, I will close the issue on November 1st, 2016.

/cc @Particular/sqlserver-transport-maintainers

[2016-09-22 12:35] MarcinHoppe opened #301 "Backwards compatiblity test with custom message ID"
### Scope
We need to make sure that when V6 endpoint sends a message to to V5 endpoint with custom messageId (which is not a guid) the message id is correctly assigned to message in V5 during processing.

### Outcome
* The message id is correctly passed to V5 when sent from V6.
* The other way round it's not possible due to know bug #82

[2016-09-22 12:35] MarcinHoppe commented on #301
@tmasternak Feel free to add more details here.

[2016-09-22 13:01] ramonsmits commented on #6
I think DLQ is important but maybe this needs to be discussed in the context of what to do with that data. For SQL message could be pushed to a service control like endpoint, for MSMQ we might need host important pushed that data there, etc.

If we don't have a vision yet about how to manage those DLQ messages on an operational level than I think we cannot continue this discussion.

[2016-09-22 13:49] elovelan commented on #291
Multi-instance + Outbox provides us a way of utilizing geographically diverse endpoints (e.g. we have pub/sub between the US and UK over a WAN) without DTC. Sql Server transport also allows us to leverage competing consumers without utilizing cloud technologies, a distributor or RabbitMQ

Note: we've had to write [custom routing logic](https://docs.particular.net/samples/routing/custom/) and utili

[2016-09-22 15:13] elovelan commented on #117
I'm about to start developing a fix for this but I want to confirm that it's not already being worked on.

[2016-09-22 15:51] tmasternak commented on #117
Hi Eric, nobody is working on that on our end. That being said we had some initial discussions on possible approach to solving that. So far it looks that changes will be mainly around supporting schema information in the physical address that is sent in subscription messages.

Two additional aspects to have in mind are:

* backwards compatibility ([compatibility tests](https://github.com/Particula

[2016-09-23 16:28] elovelan commented on #117
More details are always helpful :smile:

I have a good understanding of the issue as I've written some rather hacky code to work around it.

Regarding backwards compatibility, I'm not sure how I can guarantee that said hacked-together solutions (e.g. using custom pipeline behaviors) would continue to work. Otherwise I'll be sure to maintain compatibility. Any recommendations for the former?

[2016-09-26 11:18] tmasternak commented on #117
@elovelan I've updated the issue description.

By compatibility I meant making sure the new minor of 2 will work fine with previous versions as well as version 3.

[2016-09-26 13:10] tmasternak opened #302 "Shutdown operation should be graceful"
Currently shutdown logic for V3 is problematic in two aspects:
- It assumes that shutdown should end in 30 sec (this is magic number and not configurable)
- It can cause message loss when endpoint is running in lower transaction levels.

We should change that. When shutdown is requested we should stop spawning new receive tasks but wait until all in-flight messages are processed before completing

[2016-09-27 09:59] tmasternak commented on #299
Created issue for shutdown discussion https://github.com/Particular/PlatformDevelopment/issues/956

[2016-09-27 19:12] andreasohlund commented on #302
Only with transactions.none right? (in that case I'd say its ok since tx off means potential message loss no matter what)

We still give the inflight messages 30s to complete right?

Given the above (if correct) is this still a blocker for RC? (given https://github.com/Particular/PlatformDevelopment/pull/957 )

[2016-09-27 21:35] ramonsmits commented on #302
@andreasohlund Transaction scope none means message loss for technical reasons like no network connectivity, disk failure, power failure, etc. is expected but you would not expect message loss during a happy path which I think a graceful shutdown is.

It's not only about message loss but also the effort to potentially execute a very compute heavy task again.

If this is a blocker? It's not critica

[2016-09-28 06:33] andreasohlund commented on #302
Well we give 30s to complete so most shutdowns wouldn't loose messages. So yes if your handlers take more than 30s you might loose a few messages that where inflight on shutdown. But yes we need to talk this through and see what we can do across transports. @Particular/sqlserver-transport-maintainers can you make this call happen? (I want to join if possible)

Agreed, not critical so not blocking

[2016-09-28 06:43] tmasternak commented on #302
I would not say it's a message loss due to technical reasons. You might have a bug in you code, a GC freeze and probably dozen of other reasons. I do agree however that we could do more in scope of `best-effort`.

I agree I don't think it's blocking RTM.

I'll do it on the PlatDev issue

[2016-09-28 08:09] tmasternak commented on #301
@MarcinHoppe I've checked the behavior and I think we are fine. Feel free to close if you agree.

[2016-09-28 08:55] #301 closed

[2016-09-28 12:43] mauroservienti commented on #6
I fully support what @ramonsmits said. We need a direction and alignment across transports, otherwise it might be a sort of a waste.

[2016-09-28 15:30] MarcinHoppe commented on #236
Adding missing the VCS root resolved the problem. Closing.

[2016-09-28 15:30] #236 closed

[2016-09-29 13:34] ramonsmits opened #303 "Receive throughput has sawtooth like pattern instead of a more flat/smooth graph"
While doing a test with different concurrency levels I noticed that most tests had a sawtooth like pattern as is visible in the following image:

![image](https://cloud.githubusercontent.com/assets/152998/18955965/e44a586a-8659-11e6-84e8-14649f679f1e.png)

Maybe the message pump can be made more efficient but it could also be caused due to SQL Server behavior.

[2016-10-03 08:24] MarcinHoppe commented on #299
Resolved by #300

[2016-10-03 08:24] #299 closed

[2016-10-05 13:24] ramonsmits opened #308 "Possibility of deadlocks when scaled out"
Running the SQL transport scaled out can result in deadlocks:
## Deadlock graph

![image](https://cloud.githubusercontent.com/assets/152998/19114770/b4284d6c-8b0f-11e6-95fc-95c3d2477532.png)
## Exception

NServiceBus.StartableEndpoint:

[code]

NServiceBus.Transport.SQLServer.MessagePump:

[code]

[2016-10-06 20:29] ramonsmits opened #310 "Outbox dispatches cause queue peek failures"
## Problem
When SqlServer runs with Outbox from time to time peek operation will fail with message:

##  Root cause
After investigation it turns out that when doing connection pooling it is possible to have isolation level settings [leaking](http://stackoverflow.com/questions/9851415/sql-server-isolation-level-leaks-across-pooled-connections) between connections in the pool.

What is happening in

[2016-10-07 08:20] ramonsmits commented on #310
Additional info:

- Specifying `Pooling=False` makes it work for core V5 and V6
- TransactionScope works for core V5
- TransactionScope fails for core V6 because it wants to promote

[code]

[2016-10-07 09:56] ramonsmits commented on #310
After research with @tmasternak we found that the connection pool connections are returned with different transaction isolation levels. This is due to the DispatchAsIsolated not explicitly setting a transaction isolation level and the peek not using a transaction scope at all.

Creating a transaction scope using isolation level ReadCommitted for the peek resolves the issue.

[2016-10-07 10:59] tmasternak opened #312 "Issue warning regarding isolation level settings on the SqlTransport"
## PoA

- [x] Issue a warning if isolation level is below readcommited https://github.com/Particular/NServiceBus.SqlServer/issues/312
- [x] Update doco https://github.com/Particular/docs.particular.net/pull/3861/commits/3d40b3080a87f4150117671730f7695557a673dc
- [x] Raise an issue to provide a fix in plat dev https://github.com/Particular/PlatformDevelopment/issues/2101

## Context

Right now we e

[2016-10-07 11:06] tmasternak opened #313 "Should we try preventing possible deadlocks caused by native TTBR implementation?"
## Context

It is possible to have a deadlock between receive operations and expired messages cleanup tasks - see #308  for details. The root cause of the problem is the fact that both operation types need exclusive lock on `RowVersion` and `Expires` indexes, however order in which they acquire those locks depends on execution plan.

Here are question that we should answer:
- Do we need native TTB

[2016-10-07 13:05] tmasternak commented on #310
Closing this one #311 went in and I've created discussion about isolation level support.

[2016-10-07 13:05] #310 closed

[2016-10-09 18:16] tmasternak commented on #313
I think we might be able to prevent deadlocks in general. PR comming soon.

[2016-10-10 12:33] MarcinHoppe opened #315 "Guidelines for migrating from SQL Server transport multi-instance topology to a centralized broker"
Moved here from PlatDev, because in practice it will be handled by the maintainers. Originally opened as https://github.com/Particular/PlatformDevelopment/issues/947.

We are [advising](http://docs.particular.net/nservicebus/sqlserver/#deployment-considerations) our customers to use SQL Server transport using a single SQL Server instance as a centralized broker.

Customers who are already using mu

[2016-10-11 08:11] ramonsmits commented on #313
I would be in favor of supporting TTBR as its a feature that our platform actively uses with SC heartbeats.

[2016-10-11 08:13] ramonsmits commented on #312
Yes, limit the transaction isolation level for transport receive operations. It doesn't make sense.

[2016-10-14 09:39] MarcinHoppe opened #318 "Implement native delayed delivery"
This [spike](https://github.com/Particular/NServiceBus.SqlServer/pull/307) has proven that it is possible to implement native delayed delivery mechanism for SQL Server transport.

This issue is for @Particular/sqlserver-transport-maintainers to decide if and when they want to implement the spiked feature.

[2016-11-02 22:28] boblangley opened #319 "What maintenance is required for SQL Transport"
What is the recommended database maintenance to keep the SQL transport healthy? Does the customer need to regularly update statistics or similar?

[2016-11-09 08:22] MarcinHoppe commented on #319
@boblangley We currently don't have any guidance around that other than to do what should typically be done for an OLTP workload.

Is there anything in particular that you think we should cover in docs?

[2016-11-09 16:24] boblangley commented on #319
Do we have specific recommendations for what should typically be done for an OLTP workload, or a reference we can direct users to that describes it? Considering the usage of the transport, while OLTP, is there any of these tasks that we can rule out or highlight as being important for ongoing database health?

[2016-11-09 20:49] MarcinHoppe commented on #319
Myself and @boblangley agreed that we will explain our general guidance ("talk to your DBA") in the transport doco.

[2016-11-10 07:56] #263 closed

[2016-11-18 07:50] tmasternak commented on #318
For now it does not seem valuable enough from SqlServer transport perspective alone. If we decide that we want to get rid of `TimeoutManager` in `Core` we can return to this one.

[2016-11-18 07:58] tmasternak commented on #313
I looks that the recent changes to TTBR logic done in  https://github.com/Particular/NServiceBus.SqlServer/pull/314 minimize the likelihood of the deadlock.

Closing this one.

[2016-11-18 07:58] #313 closed

[2016-11-18 08:06] tmasternak commented on #308
Closing this one. Solved by #314

[2016-11-18 08:06] #308 closed

[2016-11-18 08:18] #291 closed

[2016-11-18 08:27] tmasternak commented on #269
@SzymonPobiega is this still relevant to spike? Should we close it?

[2016-11-18 08:32] tmasternak commented on #267
@Particular/sqlserver-transport-maintainers decided that it is important enough to push it to PlatDev.

[2016-11-21 07:54] MarcinHoppe opened #322 "Misleading exception message when multi-instance setup is detected"
### What is the problem?

Users migrating from V2 to V3 running multi-instance topology are presented with a misleading error message:

[code]

The multi-schema documentation that is referenced here will not help them resolve their problem.

### What to do about it?

The error message should be changed to reference the legacy multi-instance mode doco.

[2016-11-21 08:12] SzymonPobiega commented on #269
@tmasternak I spiked it and it proved to be rather impractical. Closing.

[2016-11-21 08:12] #269 closed

[2016-11-21 08:52] SzymonPobiega commented on #318
@tmasternak would releasing rabbit native pubsub cause us to re-evaluate this?

[2016-11-25 07:37] #265 closed

[2016-11-25 07:42] #266 closed

[2016-12-01 11:43] MarcinHoppe opened #323 "Evaluate filtered index on Expires column"
### What is the problem?

Currently an index on `Expires` column indexes all the rows. If an endpoints exchange messages without the `TimeToBeReceived` (TTBR) attribute set, the index will mostly be useless but we will pay the cost of maintaining it with each send/receive/purge operation.

We could use a filtered index instead and use `Expires IS NOT NULL` condition to only index rows with TTBR.

[2016-12-02 08:18] MarcinHoppe opened #325 "Spike a multi-catalog solution"
The idea for a solution is the following:

1. Catalog will be embedded in the transport address, just like we currently do for the schema,
1. Transport connection string will need to explicitly contain the catalog where the input queue and satellites are stored,
1. If NHibernate persistence is used, it should use the same connection string as the transport (i.e. the same catalog) to avoid escalati

[2016-12-02 08:19] MarcinHoppe commented on #325
@Particular/sqlserver-transport-maintainers I fleshed out the idea for multi-catalog spike. Comments are welcome!

[2016-12-02 08:19] MarcinHoppe commented on #149
Spike issue has been created: #325.

[2016-12-02 08:28] #322 closed

[2016-12-06 08:14] SzymonPobiega commented on #325
@MarcinHoppe is we don't use NH persistence, should we allow using a connection string without an explicit catalog and have an API on the transport extensions to set it, just like we can set the schema?

[2016-12-06 08:35] MarcinHoppe commented on #325
Seems like a nice addition, we can spike it.

[2016-12-14 13:02] SzymonPobiega opened #327 "Implement native routing"
## Allow native/multicast routing with SQL Server.

The current version of SQL Server does not support the native routing. It depends on the core unicast routing for both events and commands. Since SQL Server is also a pretty decent data store, we can use it to store a native routing table and implement routing on the SQL Server level.

### Implementation

Use model similar to AMQP 0.9.1 for routi

[2016-12-14 13:02] SzymonPobiega commented on #327
@Particular/sqlserver-transport-maintainers I'd like to spike this.

[2016-12-19 08:35] MarcinHoppe commented on #315
Realistically @tmasternak and myself will not be able to make any progress on it before the holiday break. I will unassign us from this issue for now.

[2016-12-26 08:17] SzymonPobiega opened #328 "Multi-instance alternatives"
This issue is a summary of all the efforts for supporting multi-instance topologies

### Addressing

After few spikes (e.g. with linked servers) it seems like the SQL Server instance parameters should not be present in the address. Address should be three part, consisting of table, schema and catalog. Location of the catalog should be an implementation detail of the transport.

### Linked servers

[2016-12-27 09:15] SzymonPobiega opened #329 "Automatically scan database metadata for catalogs and schemas"
Allow users to enable automatic address discovery based on the endpoint name. Assuming the table name equals endpoint name, we can browse the database metadata to find the catalog and schema for a given destination queue name.

This would not work if there are multiple tables with the same name in different schemas and/or catalogs but this is an odd scenario. Generally we require each endpoint to